[2018-07-10 17:51] jdtzmn opened #3 "Replace sample data with data from the ChRIS store API"

[2018-07-12 14:29] jdtzmn opened #4 "Optimize for internet explorer using polyfills and updated CSS"

[2018-07-12 14:39] jdtzmn opened #5 "Fix broken navbar at 780px width"

[2018-07-12 18:17] jdtzmn opened #6 "getPlugins method performs an excessive amount of requests"
See FNNDSC/fnndsc#13.

[2018-07-16 15:24] jdtzmn opened #7 "Fuzzy queries must be possible for plugin's name."
See FNNDSC/ChRIS_store#2.

[2018-07-16 15:58] jdtzmn commented on #6
https://github.com/FNNDSC/fnndsc/commit/0e0d0b415557d101531a06765c5d3b96cb545432 should fix this.

[2018-07-16 18:32] jdtzmn commented on #4
Some of the issues also appear on firefox.

[2018-07-18 14:13] #6 closed

[2018-07-19 19:51] #3 closed

[2018-07-19 19:51] #5 closed

[2018-07-20 16:43] jdtzmn opened #10 "Search remains on page navigation"
After searching in the navbar and then clicking on a different page, the search term remains.

[2018-07-20 22:41] #4 closed

[2018-07-23 14:26] jdtzmn opened #13 "Show failed network requests in the UI"
Error messages should exist somewhere in the UI to inform the user if the page has trouble loading.

[2018-07-23 15:59] jdtzmn opened #14 "Page keeps scroll position when navigating to a new page"

[2018-08-02 15:35] jdtzmn opened #18 "More descriptive error messages in the UI"
Render error messages per-field instead of per-form so that users know which fields are incorrect.

[2018-11-12 01:54] jcaianirh opened #26 "404 page error on singin page"
When the user clicks create account on the singin page, they are taken to a 404 page error.

[2018-11-12 15:36] jcaianirh commented on #26
fixed.

[2018-11-12 15:36] #26 closed

[2018-11-12 16:51] jcaianirh opened #27 "Server side validation when adding developer account to store."
The store api provides pretty good feedback when returning a failed account creation which we should be taking advantage of in the ui to provide fine tune errors if a specific control value caused the rejection.

[2018-11-12 20:50] jcaianirh opened #28 "Add service class and redux to share server side data"
We are currently making server requests per component, but will need to organize this data into service classes and allow sharing the data with redux.

[2018-11-19 16:15] jcaianirh opened #30 "Do we need a background image for dashboard empty state ?"
@mairin do we still need the bg image for the dashboard empty state my plugins card or does the css look ok?

[2018-11-29 20:38] jcaianirh opened #34 "Change Developer nav to Quick Start"

[2018-11-29 20:41] jcaianirh opened #35 "Change create user flow"
Developer page should Not have the form for creating an account
dashboard should keep the current behavior of appearing only once a dev has logged in.
Creating a dev account should be on a new page:
Should only show the signup form (currently on the Developers page)

@jbernal0019 @rudolphpienaar

[2018-11-29 21:57] jcaianirh opened #36 "are you sure?"
provide are you sure? for delete action in dashboard page

[2018-11-30 02:15] jdtzmn opened #37 "Travis Integration?"
It might be helpful to have a Travis CI integration in order to run the unit tests.
I'm thinking that it would be nice to be able to see the status of the tests for each pull request.
Would you be interested in me adding this @jcaianirh?

[2018-11-30 15:40] jcaianirh commented on #37
@jdtzmn yeah that would be great! They are currently out of whack due to the issue I mentioned last week.

[2018-12-12 14:43] jcaianirh commented on #35
@mairin any design input on how to carry this out visually?

[2018-12-13 14:07] mairin commented on #35
@jcaianirh what i would suggest:

not logged in:

- developers tab is the same with sign up form / call to action

logged in:

- dashboard loads, sign up form gone, link to create new account gone, the detailed info about getting started could be there but maybe hidden under a disclosure triangle?

Does this make sense?

[2019-01-03 19:12] #37 closed

[2019-02-04 21:40] jcaianirh commented on #35
@mairin I like the idea of keeping both pages. There is a lot of good info on that dev page. Can we keep the dashboard and the dev page, but hide the signup form if the user has logged in?  So direct the user flow from developer to dashboard after a successful signin, but keep the dev page for reference.

[2019-02-04 21:49] jcaianirh commented on #28
Service classes have been created by @jbernal0019 located here: https://github.com/FNNDSC/fnndsc/tree/master/js/chrisStoreAPI

Also, a pr was added to use undux for a global store to share data in the following pr:
https://github.com/FNNDSC/ChRIS_store_ui/pull/32

[2019-02-04 21:50] #28 closed

[2019-02-04 22:38] jcaianirh opened #39 "Re-enable auth tests"
After updating the login flow auth tests do not work because an email address is the format for the username. Checking with @jbernal0019 to see how we can change the cube username to use an email format. See SignIn.test.js

[2019-02-05 02:54] mairin commented on #35
i dont have a visual in front of me but i agree the developers page sans form should be accessible whether or not youre logged in / signed up.

would it make sense to have a "developer guide" card in the dashboard that points to it?

[2019-02-11 16:26] gagansk commented on #10
I am unable to reproduce this issue. Has this been resolved already?

[2019-02-11 16:33] gagansk commented on #7
Can the issue be described more? Is it Fuzzy queries must be supported for plugin search or Fuzzy queries must be used to suggest the plugin name dynamically based on the availability during creation?

[2019-02-12 15:12] jcaianirh opened #43 "Alignment on validation patterns"
We validate slightly differently on the create plugin form vs the create user form. Do we have a preference?

[2019-02-12 15:17] gagansk commented on #18
Closed through https://github.com/FNNDSC/ChRIS_store_ui/pull/42

[2019-02-12 15:17] #18 closed

[2019-02-12 19:36] jdtzmn commented on #10
@gagansk The issue has *not* been resolved, but at some point it was broken (since the search feature no longer works).

[2019-02-13 22:39] jcaianirh commented on #35
@mairin updated flow in above pr.

[2019-02-15 19:43] jcaianirh commented on #35
closing issue.

[2019-02-15 19:43] #35 closed

[2019-02-18 21:06] jcaianirh opened #46 "Developer Signup page seems to be broken"
Developer Signup page seems to be broken in ChRIS_store_ui after merge of pull request for #44
The fields to signup have become immutable

![](https://files.slack.com/files-pri/T04FLFU8G-FGB1ZQ8EB/screen_shot_2019-02-18_at_11.18.20_am.png)

[2019-02-20 13:53] gagansk opened #47 "Plugin Creation with existing name"
There is an unexpected behaviour of Plugin creation when a new plugin with an already existing name is created. These are the observations as of now:

- API rejects the request for a plugin creation with an existing name.

- Everything seems to be fine in the UI, but error messages can be seen on the console.

- As of now, the suspect is the state of the React component.

<img width="1375" alt="sc

[2019-02-20 14:58] jcaianirh opened #48 "Upgrade to latest chris store api"
Upgrade to @jbernal0019 's updated chris store api where the plugins use index as the key instead of name.

[2019-02-21 19:00] jcaianirh opened #50 "Refreshing dashboard with multiple plugins causes duplication of name"
Step 1 . create 3 plugins in the dashboard
step 2. delete a plugin
step 3. view existing plugins. there are duplicate plugins listed in the dashboard. though the deleted plugin is gone.

[2019-02-22 15:36] gagansk commented on #36
Closed with https://github.com/FNNDSC/ChRIS_store_ui/pull/45

[2019-02-22 15:36] #36 closed

[2019-02-22 19:10] gagansk commented on #50
@jcaianirh I am unable to see the deleted plugins appear in the Dashboard. However, even if no delete operation is performed, on refreshing the page, two plugins with the same name appear. Is this the behaviour you wanted to report? or something in terms of delete?

[2019-02-22 19:35] jcaianirh commented on #50
@gagansk yes that is the behavior for this issue. thanks!

[2019-02-22 19:48] gagansk commented on #50
Steps to reproduce the bug:

1. Create more than two plugins.
2. Refresh the page.

Current Behaviour:
The number of plugins will remain the same but the plugin names will be duplicated.

[2019-02-27 16:34] jcaianirh opened #51 "Protected routes solution for pages that require credentials needed"
In the Chris UI we have a protected routes solution that we can also use here in the store. https://github.com/rebecabkerr/ChRIS_ui/blob/feature/feed/src/components/common/PrivateRoute.tsx

https://github.com/rebecabkerr/ChRIS_ui/blob/feature/feed/src/routes.tsx

[2019-03-13 13:48] jcaianirh opened #53 "Add Modify Plugin"
Add the ability to modify a plugin once its created. Use @jbernal0019 's backend js api for modifiable fields.

[2019-04-08 16:41] #48 closed

[2019-04-08 16:42] gagansk commented on #48
Closed with #52

[2019-04-08 16:43] gagansk commented on #47
Duplicate of Issue #50

[2019-04-08 16:44] gagansk commented on #50
Closed with PR #54

[2019-04-08 16:44] #50 closed

[2019-04-08 16:45] gagansk commented on #47
Original Issue was closed by PR #54

[2019-04-08 16:45] #47 closed

[2019-04-08 17:56] gagansk commented on #51
@jcaianirh , What are the features we are supposed to make private? Dashboard appears only after login already.

[2019-04-08 20:10] jcaianirh commented on #51
@gagansk if a user bookmarks dashboard it should be protected

[2019-04-10 15:23] jcaianirh opened #57 "Add parameters to plugin details page."
Add parameters to plugin details page according to design here: https://github.com/FNNDSC/cube-design/blob/master/ChRIS-Store/mockups/plugin-details_parameters.1.png

[2019-04-10 15:23] jcaianirh opened #58 "Update to js client v1.1.5"

[2019-04-10 17:18] #58 closed

[2019-04-18 18:59] jcaianirh commented on #51
closed with this pr: https://github.com/FNNDSC/ChRIS_store_ui/pull/60

[2019-04-18 18:59] #51 closed

[2019-04-23 15:21] jcaianirh commented on #27
closed with pr: https://github.com/FNNDSC/ChRIS_store_ui/pull/61

[2019-04-23 15:21] #27 closed

[2019-04-24 15:38] gagansk commented on #46
The functionality is working as expected.

[2019-04-24 16:52] jcaianirh commented on #46
Thanks @gagansk

[2019-04-24 16:52] #46 closed

[2020-03-19 16:46] jbernal0019 opened #70 "Plugin’s version should be taken from the backend as it is. So instead of v1.0.6 just 1.0.6."

[2020-03-19 16:47] jbernal0019 opened #71 "Plugin’s detail page should also expose the plugin’s id"

[2020-03-19 16:47] jbernal0019 opened #72 "A “copy url button” should be added to the plugin’s detail page."

[2020-03-19 16:48] jbernal0019 opened #73 "A clickable star button should be added to the plugins list and detail pages. The user will need to be logged in to be able to click that button. It can only be clicked once per user."

[2020-07-29 18:25] mairin opened #81 "ChRIS Store: Update plugin details page design to account for README display, parameters, and version listing"
(@mairin)

[2020-08-03 20:01] mairin opened #86 "ChRIS Store: Implement HTML/CSS for redesigned plugin details page so it is ready for wiring with React."
We need HTML/CSS implementation of the mockups in https://github.com/FNNDSC/ChRIS_store_ui/issues/81

This issue is for @mindreeper2420 - waiting for team access to properly assign it.

[2020-08-03 20:16] mairin commented on #81
Here is what the plugin details screen looks like when you first come to it.

The orange/yellow labels show where the data comes form from the API. Items in orange are in the plugin-meta object, items in yellow are in the plugin object and need to be made available for the plugin-meta as well.

There are three main tabs on this screen:

- **Overview:** Displays a nicely-rendered copy of the README

[2020-08-03 21:28] jbernal0019 commented on #81
@mairin These look great!

[2020-08-04 10:04] junaruga commented on #81
I like it.

## Overview page

I like the following parts. It's user friendly.

* Left side of the page: similar with the `man` page.
* Right side of the page: similar with Github repository top page.

[2020-08-04 15:47] anujsingla commented on #81
@mairin look great! Yesterday I have changed Developer nav to Quick Start.
Please change in the design also. Developer -> Quick Start
PR -> https://github.com/FNNDSC/ChRIS_store_ui/pull/85
cc: jbernal0019

[2020-08-04 18:51] mairin commented on #72
Is this for copying the ChRIS store URL, the dockerhub URL, or the github URL? (or all of the above?) Should it be just the URL or commands?

[2020-08-04 19:49] jbernal0019 commented on #72
It is a convenient way of copying the plugin's ChRIS store url to the clipboard, eg.: `http://localhost:8010/api/v1/plugins/ 1/`

[2020-08-04 20:29] mairin commented on #72
![Screenshot from 2020-08-04 16-27-20](https://user-images.githubusercontent.com/799683/89341679-a66b8680-d66f-11ea-856e-cb2e0a49dd3c.png)
![Screenshot from 2020-08-04 16-29-30](https://user-images.githubusercontent.com/799683/89341708-b2574880-d66f-11ea-9df1-fd0b51996d59.png)

Quick screenshots of the design we came up with in chat.

[2020-08-28 10:16] jramcast commented on #73
hey @jbernal0019, I'm taking a look at this one. Could you assign it to me?

[2020-09-04 08:12] jramcast commented on #73
Are we handling the scenario where a user wants to delete the star from a plugin? If this is the case, then we should allow the star to be clicked more than once.

BTW, what's the endpoint we should be calling when the star is clicked? This one? -> https://fnndsc.github.io/fnndsc/chrisstoredoc/class/src/pluginstar.js~PluginStar.html

[2020-09-04 15:17] jbernal0019 commented on #73
@jramcast Yes, the user can delete the star from a plugin. When the user first clicks on the plugin's star the plugin becomes a user's favorite. If the user clicks again on the star then the plugin is no longer a favorite. Users need to be logged in to be able to star a plugin.
The API calls are:

1. To star a plugin:  https://fnndsc.github.io/fnndsc/chrisstoredoc/class/src/client.js~Client.html#i

[2020-09-10 14:47] junaruga commented on #86
@mindreeper2420 How is this work, Adam?

[2020-09-28 15:33] #73 closed

[2020-09-28 16:50] anujsingla commented on #34
@jbernal0019 We can close this request as I already fixed this
https://github.com/FNNDSC/ChRIS_store_ui/pull/85

[2020-09-28 16:52] anujsingla commented on #70
@jbernal0019
We can close this request as I already fixed this issue.

[2020-10-09 23:05] jennydaman opened #98 "Footer stuff"
- [x] footer nav links are... not links
- [x] copyright message outdated
- [x] footer not expanded to bottom of page if main content is too small

[2020-10-10 16:50] jennydaman opened #99 "prerender routes"

[2020-10-14 18:07] mairin commented on #81
Here's the updated version of the plugin details page - the major change here is removing the versions tab, and adding a dropdown to switch versions. One more mockup pending is the list of versions you can get by clicking the link next to the versions dropdown control.

![plugin-details_meta-plugin_revision_readme 3](https://user-images.githubusercontent.com/799683/96027866-894cf400-0e26-11eb-88ec

[2020-10-15 14:14] mairin opened #101 "TODO: Upgrade ChRIS Store from PF3 to PF4"

[2020-10-15 14:14] mairin opened #102 "TODO: ChRIS Store fit & finish - a lot of minor fixes like replacing non-functional front page icons, filling it developer call to action copy"

[2020-10-15 14:30] mairin commented on #81
List of mockup issues to address:

[  ] Add new version dropdown to all mockup tabs
[  ] Add new tab for "Configuration" to display 'min_number_of_workers', 'max_number_of_workers', 'min_cpu_limit', 'max_cpu_limit', 'min_memory_limit', 'max_memory_limit', 'min_gpu_limit', 'max_gpu_limit' which are all overrideable at runtime
[  ] Remove "v" from version number
[  ] ChRIS store admins for a given p

[2020-10-15 21:04] mairin opened #103 "TODO: ChRIS Store - add ability in UI to add additional admins per plugin."

[2020-10-15 21:44] mairin commented on #81
Here's a good set of mockups that addressed all of the above except the public repo field editing - I am thinking just an inline editable form field triggered by a link next to the field on the front page, only visible by a logged in admin? @jbernal0019 I'd love a review of these if you wouldnt mind!

### Front Page / README Tab
![plugin-details_readme 3](https://user-images.githubusercontent.com/

[2020-10-15 22:32] jbernal0019 commented on #81
Nice @mairin!

Yes, the link to edit public repo should only be visible by a logged in admin.

[2020-10-15 22:35] jbernal0019 commented on #81
@mairin There should also be a way for a logged in admin to add a new admin given the ChRIS store username.

[2020-10-16 07:22] anujsingla commented on #81
@mairin Nice design.

[2020-10-19 19:03] jennydaman opened #104 "Generate project badge after upload"
e.g.

[code]

[2020-10-21 19:46] mairin commented on #81
@jbernal0019 @anujsingla could we handle the case of a logged in admin adding a new admin (or removing a current admin?) similarly to public repo editing noted above... if you're admin and logged in, you'll see a "add new admin" link at the top of the admin section, and maybe little (X) buttons next to each admin to delete individual admins (with a conf dialog?)

[2020-10-22 14:52] jbernal0019 commented on #81
@mairin Yes, I think a logged in admin should see an "add new admin" link that allows him to add a new admin to the repo. Currently, once a new admin is added to the repo it can not be deleted as that admin might have published new versions of the plugin. One admin can not delete another admin.

[2020-11-05 15:51] mairin commented on #102
@stan-green-pm is interested in this ticket.

[2020-11-06 02:02] mindreeper2420 commented on #101
Looking at the last time the `package.json` file was updated, PatternFly Core and PatternFly React are around 2 years old.

The last version of PatternFly React 2 `patternfly-react v2.8.0` was released around May 2018.  The last version of PatternFly 3 was last released in November of 2018).

@mairin looking at the documentation from PatternFly, as well as the fact that everything is quite old (an

[2020-11-06 02:07] mairin commented on #101
@mindreeper2420 what do you think? is it better to rewrite to 4?

[2020-11-09 15:55] mindreeper2420 commented on #101
@mairin IMO, I'd rewrite in 4 (it would open up the UI to newer features/designs, cleaner code, flexibility, etc). PF3 is not supported anymore, so there is also that.

You can run PatternFly 3 and PatternFly 4 together, but that does increase the site size. I've tested out the PF3/PF4 combo and it does run without any noticeable issues, when no changes are applied to the UI. The issues arise when

[2020-11-09 15:59] mindreeper2420 commented on #101
@mairin here is a branch that I tested this on, if you'd like to take a look: https://github.com/mindreeper2420/ChRIS_store_ui/tree/upgrade-chris-store-ui

[2020-11-13 04:31] jennydaman opened #108 "Remove recompose dependency in favor of react hooks"
https://github.com/acdlite/recompose#a-note-from-the-author-acdlite-oct-25-2018

[2020-11-13 05:15] #70 closed

[2020-11-13 10:22] jennydaman commented on #101
I have been trying to work on this issue but it's dependency hell. `@patternfly/react-core@4.75.2` does not work with `react@16.4.1`, bumping to `react@^16.8.0` breaks tests.

However it's not entirely fair that the tests are failing, they are producing errors on Travis as well (yet without failing for some reason)

https://travis-ci.com/github/FNNDSC/ChRIS_store_ui/builds/201177671

[code]

[2020-11-13 10:47] jennydaman commented on #101
I disabled the pre-commit hook enforcing tests to be able to push a branch.
https://github.com/FNNDSC/ChRIS_store_ui/tree/pf4
The nav bar is replaced by the one provided in Patternfly's react library.

For now there are a few changes and regressions, some due to the default design of Patternfly:

- nav bar logo size is different (bigger)
- nav bar "Sign In" and "Sign Out" buttons are not in a stan

[2021-03-30 20:29] mairin commented on #72
It appears this was merged so I'm closing.

[2021-03-30 20:29] #72 closed

[2021-03-30 20:35] mairin commented on #86
Closing since this is merged

[2021-03-30 20:35] #86 closed

[2021-03-30 20:39] mairin commented on #101
Hey  @jennydaman, what is the current state of things now - would tackling the regressions you listed in https://github.com/FNNDSC/ChRIS_store_ui/issues/101#issuecomment-726694063 be something that an intern applicant could reasonably work on

[2021-03-30 20:41] mairin commented on #81
I had opened https://github.com/FNNDSC/ChRIS_store_ui/issues/103 to track adding the ability to add a new admin to the repo. Closing this since it's merged.

[2021-03-30 20:41] #81 closed

[2021-03-30 20:44] mairin commented on #99
Hey @jennydaman is there anything for this task that would make a good initial task for an Outreachy applicant to work on

[2021-03-30 20:47] mairin commented on #7
I think this is for searching for plugins. I would say the first task here would be to get the ChRIS store up and running, add a bunch of new plugins, and then test out the search to see how exact queries must be.

[2021-03-31 01:56] jennydaman opened #113 "Show warning when docker image ends with ":latest""
It is bad practice to use the `:latest` docker images, because the app (e.g. its command-line options) are subject to change in later versions.

The warning message might briefly explain [why it's a bad practice](https://github.com/FNNDSC/cookiecutter-chrisapp/wiki/Best-Practices#versioning), and suggest a remedy:

[code]

[2021-03-31 05:50] Aaishpra commented on #57
hey, @mairin I would like to try working here.

[2021-03-31 08:54] DivyanshiSingh commented on #102
Hey, @mairin I would like to take this issue.

[2021-03-31 08:57] DivyanshiSingh commented on #10
I would like to take this up. First I will try to reproduce it and then will resolve it @mairin

[2021-03-31 09:07] DivyanshiSingh commented on #14
@mairin I would like to take this issue. Please assign me this.

[2021-03-31 09:20] DivyanshiSingh commented on #102
I have set up the project into my local system and saw that we have non-functional buttons, icons, and some arbitrary texts (Lorem Ipsum). How would you like me to proceed with this issue? Please provide more information.

[2021-03-31 11:44] sonylomo commented on #98
Hey @mairin, I'm an Outreachy Applicant and I'd like to work on this issue.

[2021-03-31 11:52] mairin commented on #98
All yours, @sonylomo !

[2021-03-31 12:13] mairin commented on #102
The 4 apps (FreeSurfer can stay) listed here need to be replaced with names of apps that are in the store right now:

![Screenshot_20210331-075800_Firefox](https://user-images.githubusercontent.com/799683/113141244-73c25f80-91f7-11eb-8981-24eb4debfecb.jpg)

Take a look at https://chrisstore.co/plugins and pick out 4. Let me know what you picked and we'll figure out here what icons to use.

Each of

[2021-03-31 12:24] mairin commented on #10
Hi @DivyanshiSingh - I have assigned you https://github.com/FNNDSC/ChRIS_store_ui/issues/14 and https://github.com/FNNDSC/ChRIS_store_ui/issues/102 - Let's wait until you are able to close those before taking on more so other applicants have a shot. 👍

[2021-03-31 12:31] DivyanshiSingh commented on #10
Hey @mairin I have already raised a PR for #14

[2021-03-31 12:33] mairin commented on #57
Sure @Aaishpra - let me know if you have any questions.

[2021-03-31 12:38] mairin commented on #10
@DivyanshiSingh that's great! #102 has a lot of subtasks and a little bit of research so it might take a bit longer!

[2021-03-31 12:39] Abhir-24 commented on #10
@mairin can u assign me this currently I am working on this issue only

[2021-03-31 12:40] DivyanshiSingh commented on #10
Sure ...I am working on #102

[2021-03-31 14:16] Aaishpra opened #115 "Add link to readme which gives a walkthrough to the project"
## Description
Add this **[link](http://chrisproject.org/join-us)** under the `resources` heading which gives a walkthrough about the project so that new contributors can know more about the project.

[2021-03-31 14:45] Abhir-24 commented on #10
I have discovered the component causing this bug but I am having problem to find a solution to it.

![image](https://user-images.githubusercontent.com/56101022/113159664-a5382c80-91f1-11eb-8d24-e02d8092d88e.png)

Here the value of search is not changed when the page is changed. I searched as to how can the value of the Proptype be changed but couldn't find any helpful resource. If possible can u p

[2021-03-31 15:02] sonylomo commented on #98
What should I add as the links to: help, terms & conditions and also the Privacy policy?

[2021-03-31 15:23] DivyanshiSingh commented on #102
Hey @mairin as mentioned above by you to choose 4 apps, I want to ask whether I have to choose them randomly. If yes, then the following are my choices:
1) pI-freesurfer-pp
2)pI-z2labelmap
3)pI-dsdircopy
4)pI-fetal-brain-mask

[2021-03-31 15:30] mairin commented on #102
Hey @DivyanshiSingh that seems fine except we already have freesurfer (its the 5th) so pick another one for that.

[2021-03-31 15:32] mairin commented on #102
Also disregard the footer stuff, thats covered by a separate ticket! 🤦‍♀️

[2021-03-31 15:33] DivyanshiSingh commented on #102
Ok Ok ...I actually started working on the footer

[2021-03-31 15:34] mairin commented on #98
Good q @sonylomo , here's what I suggest:

For the footer -

- copyright should be 2018-2021. Can you implement this so the last year is always the current year?
- About ChRIS should point to chrisproject.org
- Submit your plugin should point to /quickstart
- Contact Us should be a mailto for devel@chrisproject.org with subject "Contact from ChRIS Store"
- Report an issue should point to the githu

[2021-03-31 15:35] mairin commented on #102
Sorry abt that!

[2021-03-31 15:36] DivyanshiSingh commented on #102
And another app could be:
pI-flip

[2021-03-31 15:50] sonylomo commented on #98
should the copyright statement be: "Boston Children's Hospital Fetal-Neonatal Neuroimaging and Developmental Science Center" or just remain as it is with only the years changed?

[2021-03-31 15:54] mairin commented on #98
@sonylomo I would keep it the same and just update the latter year. And if you can have the latter year set to the current year instead of hard coded to 2021 that would be great!

[2021-03-31 16:38] sonylomo commented on #98
Yep, I'll do that

[2021-03-31 17:59] sonylomo commented on #71
Hey, is this an example of plugin's detail page that's supposed to show the plugin id?
![plugin details](https://user-images.githubusercontent.com/49971500/113189485-e79a5180-9263-11eb-8489-04a08c4890f5.png)

[2021-04-01 06:48] DivyanshiSingh commented on #102
Hey, @mairin I have selected the apps. Can you please tell me about the icons for the same?

[2021-04-01 07:55] sonylomo commented on #7
Hey @mairin, I'd like to work on this 😁.

[2021-04-01 10:30] Aaishpra commented on #57
@mairin i guess i have to make additions to this page but i couldn't find the right file which contained parameters (checked create-plugins,plugins and plugin files). It would be great if you can point out the right file to make these enhancements.
![image](https://user-images.githubusercontent.com/66299533/113281503-4531ab00-9303-11eb-9075-5b7c4e3069fc.png)

[2021-04-01 14:59] mairin commented on #10
Hey @Abhir-24 - are you in the Matrix or Slack channel for the project? (They are linked, the same place) I asked @jennydaman about this and he has a patternfly4 branch of this that it could be helpful for you to try to see if you can reproduce the issue. I am asking him more about it, you might want to join the convo.

Here's the conversation thread in Slack:
https://fnndsc.slack.com/archives/C01

[2021-04-01 15:25] Abhir-24 commented on #10
Hi, @mairin , I am in the Matrix channel currently. I am not able to join the slack server due to other workspaces on my account. If possible, can I get an invite to join the slack server?

And yes I will look into the patternfly4 branch to see if I find something useful.

[2021-04-01 16:18] DivyanshiSingh commented on #102
@mairin any updates on this?

[2021-04-01 17:35] jennydaman commented on #101
# Summary

I've started an effort doing a part-by-part conversion of Patternfly3 elements to Patternfly4. We should finish this issue before working on other large features. Estimated to be worth 1 month of work.

https://github.com/FNNDSC/ChRIS_store_ui/tree/pf4

[2021-04-01 17:40] jennydaman commented on #99
Sure, estimated to be a day of tinkering with `package.json`.

[2021-04-01 17:43] #108 closed

[2021-04-01 17:46] jennydaman commented on #99
Clues: search "react prerender"

Here is an intro: https://web.dev/prerender-with-react-snap/

[2021-04-02 15:19] PintoGideon commented on #57
Hey @Aaishpra , Do you have the react dev tools extension downloaded? This link [here](https://www.digitalocean.com/community/tutorials/how-to-debug-react-components-using-react-developer-tools) would help you get started.

Once you have that installed, just click on inspect element (right click and choose Inspect element)  on the  desired page in the UI, go to the components tab in the browser an

[2021-04-03 04:16] Zoey-dev commented on #104
Hi Jenny, I am an outreachy intern and i would like to work on this issue. Could you please assign to me?

[2021-04-03 05:14] Zoey-dev commented on #104
Hi @jennydaman I am an outreachy intern, please can you give more details to this issue.

[2021-04-03 07:43] Aaishpra commented on #57
Thanks @PintoGideon it helped the component was Pluginbody.js.
Now working on it will ask more questions if got stuck again

[2021-04-03 11:29] Aaishpra commented on #57
![image](https://user-images.githubusercontent.com/66299533/113477092-45fe4480-949d-11eb-94bf-d2f2077114ae.png)
Hey, @PintoGideon @mairin the Are the parameters and other details here supposed to be similar for every plugin (means can be added via simple text) or we have to get these details from somewhere (means the parameters are supposed to be different for every plugin)?
If they are supposed t

[2021-04-03 15:26] PintoGideon commented on #57
Hi @Aaishpra ,

The parameters and other details are pulled from the backend through a JS client. You can find the documentation for the client [here]( https://fnndsc.github.io/fnndsc/chrisstoredoc/index.html). The repo for the client is [here](https://github.com/FNNDSC/fnndsc/blob/master/js/chrisStoreAPI/README.md).

You can take some time to familiarize yourself with this as it would benefit you

[2021-04-03 16:58] Aaishpra commented on #99
Hey @PintoGideon can i get assigned here while working on #57

[2021-04-03 18:10] DivyanshiSingh commented on #13
Hey, @mairin I would like to work on this. Please assign me this issue.

[2021-04-03 18:12] DivyanshiSingh commented on #113
Hey, @mairin I would like to work on this issue. Please assign me this.

[2021-04-04 01:17] jennydaman commented on #13
@mairin imo this kind of issue would seem to be something better to be worked on _after_ PatternFly4 rewrite

[2021-04-04 22:07] jennydaman commented on #104
Many open-source repos on Github show badges which quickly summarize info about a project, and its current status.

e.g. https://github.com/FNNDSC/ChRIS_store#readme

Opportunities for providing a badge sometimes generate badges themselves. For example, the Github Actions tab has a "Create Status Badge" button in a drop-down menu, which opens a modal with copy-pastable Markdown code.

![image](htt

[2021-04-05 06:57] DivyanshiSingh commented on #13
Can you point me to the page where API fails and we don't get any notifications? @jennydaman

[2021-04-05 13:08] DivyanshiSingh commented on #113
Hey, @jennydaman can you provide some more information that will help me in solving this issue.
I am not getting where to write the script for testing the build command.

[2021-04-05 16:29] jennydaman commented on #113
I am not sure what you mean by this.

Here's a hacked mock-up

![Screenshot](https://user-images.githubusercontent.com/20404439/113597378-9e525500-9609-11eb-8fea-130fcdd72d46.png)

Here the user is trying to create a plugin. They've specified the "Docker Image" (`dock_image`) as `fnndsc/pl-surf`. This is a bad practice so we show the warning message

In that box, you could include a link to a help

[2021-04-05 16:33] DivyanshiSingh commented on #113
Ok, I got it @jennydaman.
I was moving in the wrong direction...This is a great help. Thank you

[2021-04-05 16:48] jennydaman commented on #13
First, let's find places in the code which are responsible for doing network requests.

Interaction with the API is made easy with the `@fnndsc/chrisstoreapi` npm package. Typical usage would be

[code]

And then something like

https://github.com/FNNDSC/ChRIS_store_ui/blob/0db51860bf76c3002785944edb13a62347194af2/src/components/Plugins/Plugins.js#L84-L91

To find all usages of this, we can search

[2021-04-05 18:53] #14 closed

[2021-04-05 19:28] #115 closed

[2021-04-06 09:23] sonylomo commented on #71
@mairin, Can I work on this issue?

[2021-04-06 14:19] mairin commented on #71
Hey @sonylomo - can you add it in the right hand sidebar, under the contributor list? You can use the same format as the stuff that's there, field name: then on the next line the value.

![plugin-details_readme 3](https://user-images.githubusercontent.com/799683/113725610-7b837780-96c1-11eb-939f-6ed87468c529.png)

[2021-04-06 14:22] mairin commented on #102
Hey @DivyanshiSingh - don't block on the icons, just use the Freesurfer icon on each item. (from chat.) I have less availability than I thought to get some icons together for you. If you have time and can brainstorm ideas for the ones that don't have icons, that would be helpful but don't worry if not.

[2021-04-06 16:36] sanjana1604 commented on #104
hi @jennydaman I am an outreachy applicant, I want to know that were you want to see the badges on readme page.

[2021-04-06 17:14] sonylomo commented on #7
Is it ok to use a library like Fuse.js to implement fuzzy search?

[2021-04-06 18:09] jennydaman opened #121 "OpenSearch, aka Add (custom) Search Engine to Firefox or Chrome"
Implement the OpenSearch specification so that https://chrisstore.co can be registered as a custom search engine to popular web browsers.

https://developer.mozilla.org/en-US/docs/Web/OpenSearch

[2021-04-06 18:10] jennydaman commented on #7
Fuzzy search is better implemented server-side (faster).

The back-end supports partial matching of queries, for example `https://chrisstore.co/api/v1/plugins/search?name=pl-fetal` returns `pl-fetal-brain-mask` and `pl-fetal-brain-assessment`. More advanced fuzzy querying, such as typo correction, might be out of scope — especially because names might use esoteric abbreviations such as `pl-pfdo_me

[2021-04-06 18:19] jennydaman commented on #104
Hello @sanjana1604

The UX for this feature hasn't been fleshed out yet. That's for us to think about!

What do you think? Here are some ideas:

- a part of the success callout which shows up when you click "create"
- a button above or below the "Install to ChRIS" button triggers a modal or pop-up
- a tab next to "Overview". "Parameters", "Versions"
- as part of the Overview body
- In the right si

[2021-04-06 18:21] DivyanshiSingh commented on #13
I am handling the network errors by making HttpApiCallError class that can handle the errors specifically and will return respective error messages according to the status code. Using these messages we can show an alert component that our request is failed.
I will raise a PR with the changes required.

[2021-04-07 13:34] jennydaman commented on #10
Invite to slack: https://slack.babymri.org

[2021-04-07 14:43] Abhir-24 commented on #10
thanks @jennydaman for the invite link. I ll contact you after two days regarding the issue as currently my exams are going on 😅. Hope you don't have any problem

[2021-04-07 15:28] khushishikhu commented on #121
@jennydaman May I work on this issue?

[2021-04-08 03:18] EUGINELETHAL commented on #104
hello@jennydaman, I have understood the concept and am ready to work on this issue

[2021-04-08 06:45] zrthxn commented on #53
@mairin I could start working on this if I can get some documentation on the backend API. Also please let me know if there are specific requirements for this

[2021-04-08 06:57] zrthxn commented on #103
Is this something that still needs to be done? I saw in the conversation on #81 that something was merged.
If yes then I could work on this along with #53 since they'll be somewhat related

[2021-04-08 07:03] jennydaman commented on #53
@zrthxn some documentation is here: https://fnndsc.github.io/ChRIS_store/

But more helpful is the API itself. It's designed to be self-documenting in a way. (does it work? you be the judge)

For example:

[code]

Take note of these parts:

[code]

Piecing it together, such a request would be legal:

[code]

The effect is, the plugin's public code repository is changed.

[2021-04-08 07:17] jennydaman commented on #103
@zrthxn yes, this issue is still open.

We're close to being able to implement the feature, but not quite there yet. From my response here https://github.com/FNNDSC/ChRIS_store_ui/issues/53#issuecomment-815506288 we see that `new_owner` can be set, but owner groups have not been implemented in the backend. https://github.com/FNNDSC/ChRIS_store/issues/27

[2021-04-08 07:40] zrthxn commented on #103
Okay then I'll get back to this once that has been completed and merged.

[2021-04-08 13:36] DivyanshiSingh commented on #101
I would like to help you with this @jennydaman

[2021-04-08 13:41] jennydaman commented on #101
@DivyanshiSingh I think this feature will be a large effort. Do you want to try starting it now, or would you rather save it for later during the main phase of Outreachy?

Though of course, large efforts are also gradual ones. I suppose partial contributions would nonetheless be constructive.

[2021-04-08 13:49] DivyanshiSingh commented on #101
@jennydaman i agree with you, but I would like to start with some contributions as in later phases I will be able to work more efficiently on the same.
My recent PRs do require this version change so I am excited to take this up.

[2021-04-08 17:58] DivyanshiSingh commented on #101
@jennydaman what components should I target first? Do you want me to pick random and start or you have some other plan in mind.

[2021-04-09 06:05] jennydaman commented on #101
@DivyanshiSingh I left off on the search widget.

https://github.com/FNNDSC/ChRIS_store_ui/blob/pf4/src/components/Navbar/components/Search/Search.js

I shamelessly stole the code from https://patternfly.org itself. It doesn't work on small screens. But there might be an improvement upstream.

I would suggest you start here

[2021-04-09 10:28] Aaishpra commented on #57
Hey, @PintoGideon I don't see any parameter details associated with plugins on this URL http://localhost:8010/api/v1/ all I see is id, creation date, modification date, name, title, stars repo, and other details of the plugins.
Can you help?

[2021-04-09 12:14] mairin commented on #102
Hey @jennydaman this issue still depends on https://github.com/FNNDSC/ChRIS_store_ui/pull/124

[2021-04-09 12:57] zrthxn opened #125 "Apps available section doesn't do anything"
The "Apps available" section on the homepage doesn't do anything. The app icons don't take you to the page related to the plugin and the down-arrow button doesn't open more plugins.

![Screenshot (34)](https://user-images.githubusercontent.com/35369637/114183245-1a79cf00-9961-11eb-95ba-2da3c0ddca29.png)

## Expected Behavior
- The icons should open the page related to the plugin.
- The down arrow

[2021-04-09 13:28] zrthxn commented on #53
After creating a test account and creating a sample plugin for testing, whose representation file I copied from the [cookiecutter Wiki here](https://github.com/FNNDSC/cookiecutter-chrisapp/wiki/About-Plugins#json-description), I get the following runtime error when I try to open the Dashboard.

**TypeError: DashApplicationType is not a constructor**

![Screenshot (35)](https://user-images.githubus

[2021-04-09 15:23] PintoGideon commented on #57
Hey @Aaishpra , Looks like from the [js client's documentation](https://fnndsc.github.io/fnndsc/chrisstoredoc/class/src/plugin.js~Plugin.html) you can get the plugin parameters by doing something like this.

[code]
The idea here is once you have the plugin, you can fetch more resources like the plugin meta and the parameters by making those get function calls (which ideally makes get requests behi

[2021-04-09 15:25] PintoGideon commented on #57
Just run through the examples [here](https://fnndsc.github.io/fnndsc/chrisstoredoc/) if you haven't. This usually clears things up. Again, feel free to ask as many questions you want.

[2021-04-09 15:59] jennydaman commented on #53
@zrthxn I am getting the same error. Maybe it is a backwards incompatible change with latest version of `node`. Would you submit a PR for your fix?

[2021-04-09 17:40] zrthxn commented on #53
Will do.

[2021-04-09 23:36] jennydaman commented on #98
https://github.com/FNNDSC/ChRIS_store_ui/pull/116

[2021-04-09 23:36] #98 closed

[2021-04-10 05:08] #113 closed

[2021-04-10 05:10] jennydaman opened #128 "Replace lorem ipsum with actual plugin documentation"
Two possibilities:

- documentation should be fetched from the plugin's repo, or
- store documentation in ChRIS store backend

[2021-04-10 05:24] jennydaman opened #129 "Correct the placeholder text on chrisstore.co/create"
![screenshot](https://user-images.githubusercontent.com/20404439/114259364-634e7980-999b-11eb-942f-13453d795963.png)

Where it says

[2021-04-10 05:38] archanaserver commented on #129
Hi @jennydaman I want to work on this issue.

[2021-04-10 06:29] Aaishpra commented on #125
Hey, @zrthxn will you be working here? if not I would like to get assigned.

[2021-04-10 06:45] zrthxn commented on #125
The maintainers haven't yet confirmed that they want this fixed or that
they agree with the expected behaviour. If they do then you could.

[2021-04-10 06:55] Aaishpra commented on #57
Thanks for this. I will update you soon

[2021-04-10 07:50] zrthxn commented on #53
From the documentation, if I understand correctly, the modifiable fields are
- `public_repo`
- `dock_image`
- `name`

Now there is already a edit modal that is able to edit the `public_repo` field. I am considering two approaches to this, one which uses the existing modal setup and another that will make more drastic changes.
1. **Using the modal**, just add more fields to the modal and change the

[2021-04-10 15:22] Aaishpra commented on #57
@PintoGideon can I send a draft PR for this since I am still working on this feature (it's a big feature so I need some time to implement it)

[2021-04-10 15:45] Aaishpra commented on #125
@jennydaman can you confirm the issue and implementation part, so that I can submit a PR.
Thanks

[2021-04-10 18:02] mairin commented on #30
I suspect this isnt an issue anymore? There is a graphic for the dashboard empty state with the brsin guy.

[2021-04-10 18:06] #30 closed

[2021-04-11 06:50] jennydaman commented on #53
I don't see where in the documentation page it says that `descriptor_file`, `name`, or `dock_image` is modifiable. Neither do I think these should be modifiable.

Using the edit modal would be easier to implement, I believe. The 'intent' idea would be great, but at the moment we have too much first to figure out.

Perhaps I should have studied this issue a bit before having you take it up, since t

[2021-04-11 06:54] jennydaman opened #131 "Group plugins by the same name (but different versions) in the search results"
![screenshot](https://user-images.githubusercontent.com/20404439/114295109-1d63e500-9a71-11eb-8c2e-211a9c13a1ab.png)

Minimum effort solution: show version next to the name.

Best solution: group versions of the same plugin under the name.

[2021-04-11 07:06] archanaserver commented on #131
Hi @jennydaman, I want to work on this issue. Can you please elaborate it more?

[2021-04-11 07:06] jennydaman commented on #125
Sorry for the silence. @zrthxn do you want to work together with @Aaishpra on this? If not, better to let @zrthxn have it as he is the author of this issue.

First, we need to brainstorm a bit. Should these icons be the latest uploads? The most popular plugins by star count? Or hand-picked by an admin? Depending on how you want to do this, it might be a full-stack effort — requiring backend featur

[2021-04-11 07:07] jennydaman commented on #131
I cannot elaborate more other than providing mockup. Give me a few minutes....

[2021-04-11 07:08] jennydaman opened #132 "Post-login destination"
Same issue as described here
https://github.com/FNNDSC/ChRIS_ui/issues/225

[2021-04-11 07:15] jennydaman commented on #131
I present the lazy solution using a lazy mockup:

![lazy mockup](https://user-images.githubusercontent.com/20404439/114295511-c3185380-9a73-11eb-91fc-f4f732b0c44b.png)

Or, with more effort, group versions under the same name so it says:

Each version string is a hyperlink to the plugin page for the specific version.

[2021-04-11 07:26] jennydaman opened #133 "Update quickstart page"
The accurate documentation is here: https://github.com/FNNDSC/cookiecutter-chrisapp/wiki/Quickstart

Recoding the provided documentation onto this site would work. Below, two more advanced implementations are described:

a) The documentation is in ASCIIDoc format. It is possible to create an ASCIIDoc to JSX converter.

b) develop interactive features, such as having a terminal you can type in, or

[2021-04-11 07:31] #129 closed

[2021-04-11 08:00] zrthxn commented on #53
I saw them being sent in the "template" field and I tried to piece it together from how you had described it. I think that was wrong then.

Yea that's what I had thought of as well.

Alright I'll wait for a response from him.

[2021-04-11 08:10] zrthxn commented on #125
Yes we could work together on that after we've discussed how to proceed.

I think it's better to have the most popular plugins by star count since that makes more sense and it's easier for the backend as well (I think). I wouldn't mind also working on the backend features needed for this (if any).

[2021-04-11 08:45] Aaishpra commented on #125
I guess I would let @zrthxn be assigned to this issue, as I am already working on other issues. But would definitely like to coordinate by giving my suggestions for this.

I agree with @zrthxn about displaying the plugins by most popular star count but displaying hand-picked plugins by an admin can be a very beneficial feature in long run (maybe some plugins are not that popular but the admin want

[2021-04-11 09:21] DivyanshiSingh commented on #132
Can I work on this? @jennydaman

[2021-04-11 12:24] jennydaman commented on #125
By star count works great.

[2021-04-11 14:16] jennydaman opened #135 "Sorting of plugin search results"
https://github.com/FNNDSC/ChRIS_store_ui/blob/ca45de40784ddb979445252c3d71c05bc3699b50/src/components/Plugins/Plugins.js#L218

Some sorts could be:

- alphabetical, by author
- alphabetical, by name
- chronological, by date created

[2021-04-11 14:20] archanaserver commented on #131
but i'm sure i got your point @jennydaman, thanks!

[2021-04-11 14:20] sonylomo commented on #135
Can I work on this one @jennydaman?

[2021-04-11 14:32] jennydaman commented on #132
Would you like to work on this at the same time as Patternfly4 buttons, or one or the other?

Whoever takes up this task should bounce ideas with @archanaserver on https://github.com/FNNDSC/ChRIS_ui/issues/225

[2021-04-11 14:53] jennydaman commented on #125
Relaying a discussion from Slack:

Current block on this issue is poor support for plugin icons in the ChRIS_store backend design. Neither do we have any icons which actually give icons because of the poor support.

We are proposing a new backend feature to support icon upload and static hosting. Better icon support by the backend would have the implementation of front-end features like this one m

[2021-04-11 14:57] #7 closed

[2021-04-11 16:09] DivyanshiSingh commented on #132
Yes, I can take this up in parallel as I have updated the react-router to v5 it's more easy to implement, either we can include it in pf4 changes or I can raise a separate MR. Any suggestions @jennydaman ?
It's just a small change for pf4, if you agree I can straight away raise the PR and you can review it.

[2021-04-11 16:16] jennydaman commented on #132
New feature on the pf4 branch sounds better.

[2021-04-11 17:11] jennydaman opened #137 "List plugins by category"
![screenshot](https://user-images.githubusercontent.com/20404439/114314038-1f589300-9ac7-11eb-8755-8fcc69295ea2.png)

The left sidebar showing Categories is currently filler.

The backend can be queried for plugins belonging to a certain category.

[code]

Considerations: can the backend be queried for a list of categories?
For the time being, it might be better to hard-code the list of categories

[2021-04-11 17:15] zrthxn commented on #137
I'd like to start working on this.

[2021-04-11 17:40] zrthxn commented on #137
I wanted to ask, since you mentioned in another issue that you were looking to move towards functional components, would it be okay if parts of the plugin list component were ported to functional components? Since filtering would be a new feature to add, maybe it'd make sense to revamp the component along the way?

[2021-04-11 17:44] jennydaman commented on #137
That was mentioned by @PintoGideon in a different repo: https://github.com/FNNDSC/ChRIS_ui/issues/206

I have used the word "functional" in passing, meaning "working," not the JSX jargon. Though I suppose it'd be an upgrade.

Regarding revamping, the effort is happening in the issue https://github.com/FNNDSC/ChRIS_store_ui/issues/101 and being spearheaded by @DivyanshiSingh. If you are concerned a

[2021-04-11 20:28] zrthxn commented on #137
I've found that instead of querying the backend for plugins in a category its simpler to filter by category on the frontend since I'm still not sure if the backend can be queried for a list of categories (after reading the docs for a while).

For the list of categories, I'm accumulating the list from the plugins which are fetched when the page loads.

[2021-04-11 21:07] jennydaman commented on #137
@zrthxn In the first comment, I gave an example for how to query the backend API for plugins belonging to a given category. The example is reproduced below:

[code]

Reading the docs is usually not productive because, well, there's not much. It is shameful to say this, but the best way to understand the API is to:

1. ask me
2. try things out

As I've explained in https://github.com/FNNDSC/ChRIS_s

[2021-04-11 21:10] zrthxn commented on #137
I've now used the client to query the backend after trying a few things out. Please check out the linked PR.

[2021-04-12 07:58] Aaishpra opened #140 "Card not responsive on smaller screens"
The card content and other buttons have been breaking on smaller screen
![image](https://user-images.githubusercontent.com/66299533/114360529-c0605000-9b92-11eb-8652-ef9c2073e11e.png)

[2021-04-12 07:59] Aaishpra commented on #140
@jennydaman i will work here.

[2021-04-12 18:15] somya51p commented on #128
Hey, @jennydaman I am an outreachy applicant, can you brief me on this issue for more understanding.

[2021-04-13 00:27] jennydaman commented on #128
Hi @somya51p, I do not think this issue is ready to be picked up. Let's discuss the issue on slack in the channel [#chris_store_frontend](https://app.slack.com/client/T04FLFU8G/CBPHCBR8T/thread/D01U2DE9ZRS-1618272175.003500).

If you were to go to a plugin details page, you see placeholder text. That is all this issue is about.
e.g. https://chrisstore.co/plugin/52

[2021-04-13 00:28] jennydaman commented on #128
Outreachy-ready issues are listed in the "Outreachy 2021" column here
https://github.com/orgs/FNNDSC/projects/6#column-13637922

[2021-04-13 02:54] somya51p commented on #128
Okay, ma'am.

[2021-04-13 03:15] somya51p opened #143 "Bug in README.md"
In README.md,  On clicking **Licence** in line 'see the LICENSE.md file for details' , it is getting redirected to Page not Found.

' @jennydaman Please look into it, If it needs to be resolved I would like to work on it.

[2021-04-13 03:24] jennydaman commented on #143
Thanks for bringing this to my attention. It's a quick and boring change so I just did it.
https://github.com/FNNDSC/ChRIS_store_ui/commit/3be6c1feb0135011105db0d6a0c310274189d51c

[2021-04-13 03:24] #143 closed

[2021-04-13 03:25] somya51p commented on #143
sure maam

[2021-04-13 03:25] jennydaman commented on #143
Are you looking for things to do? lmk

[2021-04-13 03:28] somya51p commented on #143
Yes, for a good start. I was working on this issue https://github.com/FNNDSC/ChRIS_ui/issues/166, but it is taking time I have tried many things.

[2021-04-13 03:30] jennydaman commented on #143
You should've said so! I will take a look at the issue right now and discuss it with you if I figure something out.

[2021-04-13 03:31] somya51p commented on #143
Okay maam, Thanks a lot for considering that.

[2021-04-13 08:21] sonylomo commented on #135
![conflict](https://user-images.githubusercontent.com/49971500/114519936-928a1280-9c49-11eb-88df-e54337479c6c.png)
I'm trying to resolve conflicts but my code isn't passing these 2 tests. I didn't change any code related to them. I've checking what's wrong and updated my branch to be inline with the master before fixing plugin sort.

I've also checked if the  "mark as favorite" functionality on pl

[2021-04-13 12:51] archanaserver opened #145 "Search component is not working"
When I try to `search` any plugins by it's name, it's not showing us relevant result. Also, if I search for anything random which not present in our plugin list, it should show something like **Plugin not found**

One more things we can do here is to add search suggestion with autocomplete component, when we start typing any plugin name. What's your suggestion @mairin @jennydaman?

Example: in the

[2021-04-13 13:00] archanaserver commented on #131
Hie @jennydaman, I was working on this issue but seems like, i can't find same plugin name with it's different versions.

[2021-04-13 19:02] mairin commented on #145
Hi @archanaserver - the broken search is a known issue that @sonylomo fixed in https://github.com/FNNDSC/ChRIS_store_ui/pull/134 - that was merged 2 days ago. Have you updated your local copy yet? You might not be running the latest version of the code.

A type-ahead / autocomplete component would be great though if not already present. Can you update your checkout and verify that the new search f

[2021-04-13 19:10] mairin commented on #125
Hey your friend UX designer chiming in here :-)

So the intention with the list of 5 icons was they would be hand-picked, high-interest / well-known plugins to entice developers to list their plugins and make it very quick and easy to click to the most popular icons for ChRIS Store users.

Also I can create icons for whatever needs an icon.

[2021-04-13 20:29] jennydaman commented on #135
Try this:

[code]

I found this:

[code]

Notice the declaration of `fetchPlugins` was changed. This is an oddity with syntax. If a function is defined as `fetchPlugins() {`, `this` will be undefined unless you manually "bind" it.

[2021-04-13 20:41] jennydaman opened #146 "Search bar not working on pf4 branch"
@DivyanshiSingh do you want to take a look?

[2021-04-13 20:47] sonylomo commented on #135
Thanks for that. What about the `starsByPlugin` test?

[2021-04-13 23:24] jennydaman commented on #131
I do not understand what you mean.
example: https://chrisstore.co/plugins?q=pl-fetal-brain-mask

[2021-04-13 23:31] jennydaman commented on #145
related issue: forward-port #134 to the `pf4` branch @DivyanshiSingh and I have been working on.
https://github.com/FNNDSC/ChRIS_store_ui/issues/146

[2021-04-13 23:39] jennydaman commented on #125
You're right, hard-coded is not an evil in all cases.

@mairin, about icon design: some of the popular 3rd-party software have icons, but they're ugly (FreeSurfer, FSL, ANTs)

Regarding software which exists in the ChRIS store that fits "high-interest / well-known", I know of (because I made)

- https://chrisstore.co/plugin/78
- https://chrisstore.co/plugin/77

Fitting "high-interest" (machine lea

[2021-04-14 02:21] DivyanshiSingh commented on #146
Yeah sure @jennydaman

[2021-04-14 09:07] DivyanshiSingh commented on #146
As i can see #134 was merged in master and not pf4 so I am planning to implement Autocomplete and fix the search in pf4 @mairin @jennydaman

[2021-04-14 17:21] jennydaman commented on #135
@sonylomo all tests are passing on https://github.com/sonylomo/ChRIS_store_ui/commit/b154b309e04425a781d0a8f59aa033f665388d45

[2021-04-15 00:16] jennydaman commented on #125
Recap: this issue #125 is a duplicate of #102, and there is an open PR #124

A good implementation of this feature depends on backend updates:
https://github.com/FNNDSC/ChRIS_store/issues/44

@mairin you have said that the featured plugins should be "hand-picked." But what about for thid-party instances of the ChRIS_store? For example, the plugin `pl-ANTs_N4BiasFieldCorrection` exists in `chrissto

[2021-04-15 03:19] #140 closed

[2021-04-15 07:45] sonylomo commented on #135
Yeah, I spotted the problem with the tests. Everything is ok now.

[2021-04-15 11:52] zrthxn commented on #133
I can work on this. Seems interesting.
Dyou know of any ways that a "pseudo terminal" can be made? I'm thinking it can just be a component which shows monospace text with timing intervals to sort of mimic the terminal experience

[2021-04-15 13:21] mairin commented on #125
This is what I would suggest. Because different ChRIS stores might have different focuses, if it turns out we have an ecosystem of different ones. For example one may focus just on tools for neuroscience, another might focus on tools for (just throwing something out there) orthopedics. So the admin would want to highlight the tools most relevant to the theme / field at hand. I think doing that via

[2021-04-15 14:23] jennydaman opened #149 "Add page depicting breakdown of a ChRIS plugin and architecture of the ChRIS store distribution"
The "quickstart" guide is out of date https://github.com/FNNDSC/ChRIS_store_ui/issues/133 though perhaps it would be better to replace it with an informational/promotional page instead. (Technical documentation written in React is hard to keep fresh, but we can also work on that).

It's non-intuitive exactly _what_ and _how_ the ChRIS store works.
A ChRIS plugin has three parts:

- source code (fo

[2021-04-15 14:24] jennydaman commented on #133
There are some libraries for this, e.g. https://github.com/nitin42/terminal-in-react
Shouldn't be complicated to code from scratch either.

An alternative to this issue is here: https://github.com/FNNDSC/ChRIS_store_ui/issues/149

I would want this work on the [pf4](https://github.com/FNNDSC/ChRIS_store_ui/tree/pf4) branch.

[2021-04-15 14:29] zrthxn commented on #133
Sure it'll be done on the pf4 branch. The timeline you showed is also a nice touch, although maybe it doesn't need to have that many steps.
In any case I'll start work on this.

[2021-04-15 15:08] jennydaman opened #150 "Featured plugins selection at build time"
![Screenshot](https://user-images.githubusercontent.com/20404439/114891123-9ea4da00-9dd9-11eb-8087-cedd424276ae.png)

# Current Behavior

There is an "Apps Available" section which contains hard-coded placeholder icons and text.

# Feature Proposal

The icon and title of 5 "hand-picked" plugins should be displayed in this section. Which plugins should be configurable at build time. e.g. in a `.env

[2021-04-15 15:08] jennydaman commented on #125
See https://github.com/FNNDSC/ChRIS_store_ui/issues/150

[2021-04-15 15:08] #125 closed

[2021-04-15 15:09] jennydaman commented on #102
Solution proposal in https://github.com/FNNDSC/ChRIS_store_ui/issues/150

[2021-04-15 15:09] #102 closed

[2021-04-15 16:45] jennydaman opened #151 "Use CSS modules"
https://create-react-app.dev/docs/adding-a-css-modules-stylesheet/

[2021-04-15 20:55] somya51p commented on #151
@jennydaman  Can you give a brief on this issue. Can I work on it?

[2021-04-15 20:58] somya51p opened #152 "Show/Hide password functionality"
Both login and signup pages can be provided the show/hide password functionality.
@jennydaman Can you assign me this issue to work on

[2021-04-16 01:41] jennydaman commented on #152
Sure thing. Please work off of the [pf4](https://github.com/FNNDSC/ChRIS_store_ui/tree/pf4) branch.

[2021-04-16 01:44] jennydaman commented on #151
The [pf4](https://github.com/FNNDSC/ChRIS_store_ui/tree/pf4) branch is a piece-by-piece rewrite of the *ChRIS_store_ui*. We want to make sure the code quality and maintainability is best.

In this issue, we want to evaluate the feasibility of using CSS modules. CSS modules are explained in the link above. Then, we want to refactor the project to use CSS modules.

[2021-04-16 01:47] jennydaman commented on #151
There are currently 278 lines of code containing the word `className` in the codebase, so this is not a small issue.

[2021-04-17 06:07] sonylomo commented on #135
I've closed the other PR because I deleted that forked repo 😁.

[2021-04-17 12:02] DivyanshiSingh commented on #146
@jennydaman  @mairin please have a look at the PR and let me know the required changes.

[2021-04-18 11:16] zrthxn opened #160 "App crashes when pluginId is not valid"
## Description
The store app crashes when the pluginId in the URL is not valid. This can happen when a `Link` is used instead of an `a` anchor tag which puts a URL in the path which is not a valid ID.

![Screenshot (53)](https://user-images.githubusercontent.com/35369637/115143504-60234f80-a065-11eb-8335-86aee95ae9f6.png)

## Cause
The function `fetchPluginData()` in `src/components/Plugin/Plugin.

[2021-04-19 11:36] DivyanshiSingh commented on #101
@jennydaman I am planning to take Form next. Also I notice that we don't have forgot password feature, are you planning to bring it in, I can take that in parallel. Let me know your thoughts

[2021-04-19 19:48] somya51p commented on #151
@jennydaman I wish to work on this issue. Can you please assign me the same.

[2021-04-20 20:07] jennydaman commented on #101
There is no way of resetting a password besides asking an admin to do it for you. It's a bit complicated for the backend to support an email-password-reset feature because we'd either have to set up a mail server, or use SaaS.

Working on Form sounds like a good way to go.

[2021-04-21 11:00] yvan237 commented on #121
@khushishikhu
I would like to know if this issue is available or you are still working on it

[2021-04-22 17:04] #160 closed

[2021-04-24 09:56] somya51p commented on #121
@jennydaman @mairin Is this issue open to work. I wish to contribute to it.

[2021-04-24 16:02] DivyanshiSingh opened #166 "Application crash on going to a particular plugin"
On routing to a particular plugins page, if the 'fetchRepoData' function fails the application is crashing.
![image](https://user-images.githubusercontent.com/53593872/115964968-90c32780-a544-11eb-9a19-4c418ccad9e1.png)

This error happened because the API (https://api.github.com/repos/${repo}) fails.
@jennydaman please check this, I can work on it.

[2021-04-25 04:21] jennydaman commented on #121
I have not heard word from @yvan237. Yakam how is it going?

[2021-04-25 04:27] jennydaman commented on #166
I will take a look at it.

Related to #161 so tagging @zrthxn

[2021-04-25 05:05] jennydaman opened #167 "Use CSS-in-JS from @patternfly/react-styles"
https://www.npmjs.com/package/@patternfly/react-styles

Continues https://github.com/FNNDSC/ChRIS_store_ui/pull/162

[2021-04-25 05:18] jennydaman opened #168 "Enforce airbnb style guide using eslint (and prettier)"

[2021-04-25 05:20] somya51p commented on #167
@jennydaman Can I look into this one too. Can you help me out finding the resources for [@pattern/react-styles](https://www.npmjs.com/package/@patternfly/react-styles)

[2021-04-25 05:40] jennydaman commented on #166
@DivyanshiSingh can you provide more specific instructions on how to reproduce?

[2021-04-25 05:43] yvan237 commented on #121
@jennydaman  I would like to work on this issue

[2021-04-25 06:27] DivyanshiSingh commented on #167
@jennydaman I would like to take this up next.

[2021-04-25 06:36] DivyanshiSingh commented on #166
Route to /plugins then choose any plugin listed, as soon as the plugins detail page loads, the application crashes

[2021-04-25 06:45] jennydaman commented on #121
Could I hear briefly on what you've tried out so far?

[2021-04-25 06:49] jennydaman commented on #167
@somya51p as mentioned in our conversation in #162, I am not sure where to find documentation on @patternfly/react-styles either. It'll probably take a skim of the source code and a good IDE.

@DivyanshiSingh this issue depends on #162 which has not been merged yet.

[2021-04-25 06:50] jennydaman commented on #166
Which branch, master or pf4? Have you tried `rm -rf node_modules && yarn`?

[2021-04-25 06:59] jennydaman opened #169 "Preprare pf4 branch for public eyes: hard-code featured plugins and icons"
I have forward-ported important features from master into pf4, such as #119 and #139

With #161, `pf4` is looking like a working product! It is all thanks to our 2021 Outreachy applicants :tada:. Perhaps we should focus on wrapping things up and hitting a milestone.

#102 is the last thing on the table before @rudolphpienaar would consider the ChRIS_store_ui "good for public eyes."

In the branch

[2021-04-25 07:04] #146 closed

[2021-04-25 07:05] #145 closed

[2021-04-25 07:31] zrthxn commented on #166
Shouldn't happen on pf4 since this was something I knew about and I had fixed. I'll check it out again.

[2021-04-25 07:47] DivyanshiSingh commented on #166
@jennydaman its happening on pf4.
@zrthxn , if the fetch on https://api.github.com/repos/${repo} this url returns a 404 then the page will crash as repoData.license will be undefined and accessing the name will throw an error

[2021-04-25 07:55] zrthxn commented on #166
I have tested that already by blocking the URL and seeing the behaviour, and there is error handling there to prevent a crash. Maybe it's not working exactly as I expected. I'll fix it asap. Thanks.

[2021-04-25 09:35] jennydaman opened #170 "Search autocomplete selection with arrow keys"
Autocomplete was implemented in #154

Pressing either the <kbd>Up</kbd> or <kbd>Down</kbd> arrow keys should move the selection of which autocomplete suggestion to accept. The current behavior is that pressing <kbd>Down</kbd> just moves the cursor to the end.

@DivyanshiSingh do you want to take this issue?

[2021-04-25 09:39] DivyanshiSingh commented on #170
Yes, @jennydaman I would take this issue.

[2021-04-25 09:40] zrthxn commented on #166
The issue existed before I had added exception handling but that was fixed in [ebba6a8](https://github.com/FNNDSC/ChRIS_store_ui/pull/161/commits/ebba6a8f29fefe6bbe8df3a89c1170dbb34a2ec7) and [4499243](https://github.com/FNNDSC/ChRIS_store_ui/pull/161/commits/4499243ec53da375fbeaeafa9da6415fef23d6e7).

But after testing by blocking the URL so that the fetch call doesn't work, the app does not cras

[2021-04-25 09:47] jennydaman commented on #169
@DivyanshiSingh you might be interested with this issue and pick up from #124

[2021-04-25 09:53] DivyanshiSingh commented on #169
Yes, I would be working on it @jennydaman

[2021-04-25 09:54] jennydaman opened #172 "pf4 branch unit tests and snapshot"
The tests have been butchered by the Patternfly 3 to 4 migration #101

[2021-04-25 12:51] DivyanshiSingh commented on #169
Where can I find the icons? Do I need to change the categories section?

[2021-04-25 12:57] jennydaman commented on #169
Let's leave the categories section commented out for now.

Please hold on this issue for maybe a day, we need to circle around with @rudolphpienaar and @mairin about which plugins to feature.

I would suggest:

- [pl-fastsurfer_inference](https://next.chrisstore.co/plugin/44)
- [pl-infantfs](https://next.chrisstore.co/plugin/78)
- [pl-irtk-reconstruction](https://next.chrisstore.co/plugin/85)
- [p

[2021-04-25 14:06] #166 closed

[2021-04-26 13:25] yvan237 commented on #121
Since this is new to me, I have done some research about OpenSearch and created the open search xml file for a test project on chrome.

[2021-04-26 14:15] #170 closed

[2021-04-26 20:49] jennydaman commented on #169
Icone could be from:

- fastsurfer: we'll have to create one
- InfantFS: FreeSufer icon
- IRTK: use BioMedIA's logo, (not the Comic Sans initialism) https://biomedia.doc.ic.ac.uk/software/irtk/
- ANTs: ... an ant? Or the icon from their Github org: https://github.com/ANTsX
- CIVET: CIVET icon https://mcin.ca/technology/civet/

[2021-04-27 17:00] DivyanshiSingh commented on #169
Hey, @jennydaman should I start on this issue if the plugins and icons are final?

[2021-04-27 21:09] zrthxn commented on #172
Can take this up since I've already spent quite some time trying to fix the failing tests

[2021-04-28 22:09] jennydaman commented on #169
Yes.

The official icons I've linked to above don't necessarily fit the look and feel of _ChRIS_. They're okay to use for now. We can make a quick and easy icon for FastSurfer.

Sometime, the icons should be redesigned to match the _ChRIS_ look and feel. We should also discuss with @mairin in case she has any take on icons.

[2021-04-28 22:16] jennydaman commented on #172
I wouldn't recommend it.

For now this issue is a future note-to-self. Within the next two months, the code base will undergo rapid change so I don't think testing is worth it.

[2021-04-30 14:56] DivyanshiSingh commented on #169
Hey @jennydaman @mairin  how can I get the SVG form of the above-mentioned icons? Also, do I need to make an icon for fastsurfer? Any help on this.

[2021-05-03 14:36] EUGINELETHAL opened #181 "Remove hardcoded values from plugin stars"
Plugins shoukd be able to show the number of people who have favorited it

[2021-05-04 17:25] jennydaman opened #183 "Use props instead of state where possible"
Now that we're using React hooks, we get many warnings like

[code]

In these situations it is better to use props instead of state.

https://github.com/FNNDSC/ChRIS_store_ui/blob/d9c388261ae4cc8d091d8885c3a8cb4b95c2438d/src/components/Welcome/components/WelcomeCategories/WelcomeCategories.js#L7

[2021-05-04 17:44] DivyanshiSingh commented on #169
Any updates?

[2021-05-04 19:02] EUGINELETHAL commented on #183
let me handle this

[2021-05-04 19:02] jennydaman commented on #169
@DivyanshiSingh sorry for missing your question. While we wait for SVGs from @mairin, we should use PNG placeholders -- either use the old ones or project official icons. They'll be ugly but it doesn't matter for now, we will replace them later.

[2021-05-05 13:40] jennydaman commented on #169
@DivyanshiSingh sorry for missing your question. While we wait for SVGs from @mairin, we should use PNG placeholders -- either use the old ones or project official icons. They'll be ugly but it doesn't matter for now, we will replace them later.

[2021-05-05 17:59] somya51p commented on #183
@jennydaman I wish to work on this one.

[2021-05-07 19:46] jennydaman commented on #151
Pointed out by @DivyanshiSingh there are new bugs introduced by #162, @somya51p could you take a look?

[2021-05-07 19:47] jennydaman commented on #151
![screenshot](https://user-images.githubusercontent.com/20404439/117501063-901a9000-af4b-11eb-9076-bc4d2c0cd02b.png)

[2021-05-07 20:08] jennydaman commented on #151
@sonylomo fixed some of it in #182 which I just merged.

![screenshot](https://user-images.githubusercontent.com/20404439/117503068-72025f00-af4e-11eb-9a4c-917df4e3201c.png)

[2021-05-08 05:17] somya51p commented on #151
@jennydaman Sure, I will look into it.

[2021-05-08 07:18] DivyanshiSingh commented on #151
@jennydaman I think we should have taken the changes piece by piece for every component and not at once. As now I can see there are some unwanted changes done to the previous merged PRs and also css bugs.
![Screenshot 2021-05-08 at 12 38 04 PM](https://user-images.githubusercontent.com/53593872/117530461-f14d6c80-affa-11eb-8906-a1ada35509a9.png)

![2021-05-08-2](https://user-images.githubuserconte

[2021-05-08 07:30] somya51p commented on #151
@jennydaman @DivyanshiSingh CSS modules have to be specified separately for all `className` in `CSS` files. I figured it just now that a few `className` are missing in `CSS` files. So I am working on it.

[2021-05-08 07:42] somya51p commented on #151
@DivyanshiSingh I am already working on the `Dashboard` part and the button issue for the `Plugins` page has already been resolved. And I guess wrong changes have not been merged in my PR. But I will have a look into that.

[2021-05-08 07:48] DivyanshiSingh commented on #151
Through gitlens its showing your commit has the changes
![Screenshot 2021-05-08 at 12 38 04 PM](https://user-images.githubusercontent.com/53593872/117531369-d03b4a80-afff-11eb-89a3-e4771215fa15.png)

[2021-05-08 07:55] somya51p commented on #151
@DivyanshiSingh Thanks for figuring out the glitch. I will look into it and also try to figure out how it happened.

[2021-05-08 18:37] jennydaman commented on #151
@DivyanshiSingh your digging is so much appreciated, it is my fault for merging #162 prematurely without more testing.

[2021-05-09 06:11] Akhil132-dev commented on #183
I want work on this it very simple warnings you can get out of ride very easily

[2021-05-10 17:57] jennydaman opened #194 "Unscoped CSS class causes <Brand /> to have grey background color"
https://github.com/FNNDSC/ChRIS_store_ui/blob/ea9d5411e342ef2c37cec9b2fe9aea4c39de1b3f/src/components/Navbar/components/Search/Search.css#L77

![screenshot](https://user-images.githubusercontent.com/20404439/117703260-8e450c80-b197-11eb-8214-2b150f10bd00.png)

[2021-05-19 18:19] mairin commented on #71
Thanks @sonylomo - great work :)

[2021-05-19 18:19] #71 closed

[2021-05-19 18:21] mairin commented on #57
@Aaishpra Let me know if you are still interested in this ticket after the Outreachy application period, or if we should clear you as assignee.

[2021-05-19 18:22] mairin commented on #10
Hi @Abhir-24 - let me know if you are still interested in this issue now that the Outreachy contribution period is over, or if we should clear you as the assignee for now.

[2021-05-19 18:42] mairin commented on #13
Thanks for your work here @DivyanshiSingh - closing as complete.

[2021-05-19 18:42] #13 closed

[2021-05-19 19:08] #137 closed

[2021-05-19 20:36] Abhir-24 commented on #10
Hi, you can unassign me this issue. I caught covid during the period and hence couldn't work further for Outreachy.

[2021-05-20 09:42] Aaishpra commented on #57
I have unassigned @mairin

[2021-05-20 14:07] jennydaman opened #198 "isTouchDevice() should be moved to a separate file"
https://github.com/FNNDSC/ChRIS_store_ui/blob/0d150714d6dada40831251796d49e735f6fa756c/src/components/Developers/components/DeveloperSignup/DeveloperSignup.js#L17

[2021-05-20 14:24] jennydaman opened #199 "Replace shortened links with real links"
https://github.com/FNNDSC/ChRIS_store_ui/blob/0d150714d6dada40831251796d49e735f6fa756c/src/components/Developers/components/Instructions/Instructions.js#L10

- the link here is outdated
- URL shorteners do not respect privacy

This needs to be changed to https://github.com/FNNDSC/cookiecutter-chrisapp/wiki/Quickstart

[2021-05-20 14:26] jennydaman commented on #199
We should replace all of them.

[code]

[2021-05-20 17:29] SugatoBagchi commented on #199
Hi,

I would like to work on this issue. Can you please assign it to me?

Thank you.

[2021-05-25 16:35] #169 closed

[2021-05-25 19:56] zrthxn opened #202 "Remove all PF3 components and uninstall it"
2.0 Milestone
[Refactoring]

[2021-05-25 19:57] zrthxn opened #203 "Change all React .js files to .jsx"
2.0 milestone
[Refactoring]

[2021-05-25 19:57] zrthxn opened #204 "Split components into "pages" and "components""
2.0 milestone
[Refactoring]

[2021-05-25 19:58] zrthxn opened #205 "Switch to better stylesheets using Sass/SCSS or modules"
2.0 milestone

[2021-05-26 02:11] jennydaman commented on #202
Duplicate of https://github.com/FNNDSC/ChRIS_store_ui/issues/101

[2021-05-26 02:11] #202 closed

[2021-05-26 02:12] jennydaman commented on #205
Related #151 #162 #190

[2021-05-26 02:13] #194 closed

[2021-05-26 02:14] #181 closed

[2021-05-26 02:17] jennydaman commented on #128
A good (but temporary) solution was implemented in https://github.com/FNNDSC/ChRIS_store_ui/pull/161
A more correct solution would store the README text in the backend, so that documentation remains accurate for previous versions of plugins.

[2021-05-26 02:18] #183 closed

[2021-05-26 09:26] zrthxn opened #206 "Prevent application crashes with error boundaries"
https://reactjs.org/docs/error-boundaries.html

[2021-06-01 15:44] mairin commented on #133
Adding @sonylomo

[2021-06-01 17:37] mairin opened #211 "Separate core ChRIS Store from the promotional front pages"
Separate ChRIS Store bits from the front "promotional" page:

**Core ChRIS Store:**
The ChRIS Store bits are the core ChRIS Store UI bits where you can create a plugin, browse plugins, view plugin details.

**ChRIS Store Promotional pages:**
This includes the front page and the developers quickstart pages.

Handlebar templates could be set up to pull in plugin data on the front page; the deploymen

[2021-06-01 17:43] mairin commented on #133
Some notes from our ChRIS store planning meeting this morning:

- When building this page, we should look to this document in asiidoc format: https://github.com/FNNDSC/cookiecutter-chrisapp/wiki/Quickstart and rebuild it from the latest version
- We need to take that asciidoc as input and wrap it in appropriate JSX (or whatever needed) to style it for display on the ChRIS store developer quickstar

[2021-06-01 17:48] mairin opened #212 "Implement list of 12 plugins for front page with real data"
We will have more plugins available to implement this list. Please implement this list for the front page of the ChRIS store including real metadata for these plugins.

[2021-06-01 17:53] mairin opened #213 "Create a FAQ for the promotional side of ChRIS Store webpages"
The FAQ should have its own item in the top navbar.

The FAQ should include:
- how to install a plugin
- how ChRIS store works (needs github+dockerhub) (see #149)
- how to run your own ChRIS server

[2021-06-01 17:59] mairin opened #214 "Update ChRIS Store navigation"
The ChRIS Store navigation needs to be updated.

- Plugins - stays as-is
- Submit your Plugin - renames "Quickstart"
- FAQ - new (see #213)

[2021-06-01 18:00] mairin opened #215 "Implement login with email"
Right now we only allow login by username. We should also allow login by email address (with the email address associated with the username.)

[2021-06-01 18:02] mairin opened #216 "Brief competitive analysis"
We should conduct a brief competitive analysis of websites similar to the ChRIS Store. GitHub and DockerHub should be two of the sites we look at. We should try to look at 4-5 total.

[2021-06-01 18:03] mairin opened #217 "Add a ChRIS Store account signup in the call-to-action to devs on the front page"
There is a call-to-action banner on the front page of the ChRIS store inciting developers to submit their plugins to the store. The sign up form could be placed in this banner, or even just the email submission field (ala GitHub.) This won't replace the pre-existing signup form, just be another potential path in to onboarding a new account.

[2021-06-01 18:06] mairin opened #218 "SEO for promotional page / prerendering (depends on #211)"
Once #211 is completed, we should optimize the promotional pages for the ChRIS Store for SEO.

[2021-06-01 18:08] mairin opened #219 "Concept of "Brainie" of where to position them on ChRIS Store pages"
Similar to GitHub's octocat and Docker's whale, the ChRIS Store has a mascot (we can call them "Brainie" for now, but open to another name :-) )

We should formulate a strategy of which parts of which sections of the ChRIS store we pull Brainie in.

[2021-06-01 21:15] mairin opened #220 "Provide a developer's guide for ChRIS Store plugin authors"
Provide a "Developer's Guide" which offers suggestions for what categories to use.

[2021-06-01 21:27] jennydaman commented on #220
We have  a developer's guide covering other related topics here:
https://github.com/FNNDSC/cookiecutter-chrisapp/wiki/Developer-Guide

The purpose of "categories" has not yet been fully thought out. Informally, some of our developers are borrowing categories from nitrc.org. Often the field is left blank.
https://github.com/FNNDSC/cookiecutter-chrisapp/wiki/CookieCutter-Questions#what-is-app_catego

[2021-06-01 21:28] jennydaman commented on #220
Category suggestions can be put in template code comments here:
https://github.com/FNNDSC/cookiecutter-chrisapp/blob/ad4fb567640ae312baad69d9727e5a4ada40970b/%7B%7Bcookiecutter.app_repo_name%7D%7D/%7B%7Bcookiecutter.app_name%7D%7D/%7B%7Bcookiecutter.app_name%7D%7D.py#L90

[2021-06-17 13:13] jennydaman commented on #215
I think this should be an issue in https://github.com/FNNDSC/ChRIS_store

I also think this should be a low-priority issue. A few points:

- Optional feature w/o significant QoL improvement.
- There are some parallels between how the ChRIS_store backend and ChRIS_ultron_backEnd are coded up. These paradigms will get disrupted.
- I don't think we're ready to head down the path of features using ema

[2021-06-17 14:17] jennydaman opened #223 "Pipeline browser and creation screens, drag-and-drop feature"
The `/api/v1/pipelines/` is fully implemented in the backend, and requires a front-end interface.

Create a browser for viewing available pipelines in the ChRIS_store. When logged in, the option to delete the pipelines you own should be present.

[2021-06-17 14:19] jennydaman opened #224 "Pipeline creation drag-and-drop"
Add a page featuring a drag-and-drop interface where users can create pipelines, i.e. chains of plugins.

If logged in, user should be able to save the pipeline to the ChRIS_store.

Ideally, the widget for this should be coded up as a reusable React component — one day we might want to port it into https://github.com/FNNDSC/ChRIS_ui/

[2021-06-17 14:19] jennydaman commented on #224
Related to #223

[2021-06-22 05:12] jennydaman opened #225 "removeEmail is not guaranteed to work"
https://github.com/FNNDSC/ChRIS_store_ui/blob/ec5e30492c95f8c7933c8d6ef6b3563304988c61/src/components/Plugin/components/PluginBody/PluginBody.js#L14

https://github.com/FNNDSC/ChRIS_store_ui/blob/ec5e30492c95f8c7933c8d6ef6b3563304988c61/src/components/Plugin/Plugin.js#L20

https://github.com/FNNDSC/ChRIS_store_ui/blob/ec5e30492c95f8c7933c8d6ef6b3563304988c61/src/components/Plugins/Plugins.js#L244

[2021-07-02 17:13] jennydaman opened #226 "Warning: componentWillMount has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details."

[2021-07-02 17:14] jennydaman opened #227 "Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're accessing the method `preventDefault` on a released/nullified synthetic event. This is a no-op function. If you must keep the original synthetic event around, use event.persist(). See https://fb.me/react-event-pooling for more information."

[2021-07-02 17:51] zrthxn commented on #227
Could to please also provide the stack trace? Or maybe just the file and line number?

[2021-07-02 18:14] #226 closed

[2021-07-02 20:19] jennydaman opened #228 "Case-insensitivity in plugin names"
Warn users when attempting to use a plugin name which already exists but has a different case, e.g. pl-nAme and pl-namE

[2021-07-03 10:09] zrthxn commented on #228
A frontend solution for this could be made as follows.

- Query for all plugin metas when the creation form loads
- Extract only names and `toLowerCase()` for all
- In the plugin name text input, `onChange = value => names.includes(value.toLowerCase())`

[2021-07-06 07:06] #228 closed

[2021-07-19 01:16] jennydaman opened #230 "Provide feedback when user clicks "Favorite" but is not logged in."

[2021-07-21 19:19] #101 closed

[2021-07-21 19:19] #198 closed

[2021-07-21 19:19] #203 closed

[2021-07-21 19:19] #168 closed

[2021-07-21 19:19] #225 closed

[2021-07-21 19:19] #227 closed

[2021-08-06 09:27] #199 closed

[2021-08-06 09:27] #230 closed

[2021-09-13 04:29] Hina-softwareEngineer commented on #213
Hello, I am new to open-source and want to contribute here. Can I take this issue as a head-start?

[2021-09-13 13:46] rudolphpienaar commented on #213
Sure!

[2021-09-13 18:51] Hina-softwareEngineer commented on #213
Thanks, I will setup the chris store ui project and start working. I have already setup the chris core UI project.  Can you please assign this issue to me?

[2021-09-13 21:07] EUGINELETHAL commented on #216
https://pypi.org/,
djangopackages.org,
https://readthedocs.org/dashboard/](https://readthedocs.org/dashboard/)

[2021-09-13 22:04] rudolphpienaar commented on #213
Well, feel free to just start. We don't need at this stage to formally assign anything to anyone.

[2021-09-13 22:07] rudolphpienaar commented on #213
Also, I expect you can't simply fully jump in on your own. Please reach out and/or describe what you are thinking of doing first -- otherwise you run the real risk of:

1. getting totally stuck
2. doing work that is not in line with this issue.

[2021-09-14 14:32] Hina-softwareEngineer commented on #213
Yes, You are right. I am coming from the outreachy program. I want to be familiar with the repository and its code and contribute to it. Can you please help me with that?

[2021-09-14 15:29] TateDeVito commented on #206
Hi @zrthxn - I could try to take a look at this one. Could you give any more detail on specific components you would like to apply the Error Boundary to? Any class of errors you are most trying to prevent?

[2021-09-14 16:37] zrthxn commented on #206
@TateDeVito

The application was susceptible to crashes usually caused by "cannot read property ... of undefined/null" errors. I took care to make sure, as best I could, to prevent these in #229 and #231. However this is not completely guaranteed as this is a JS app and we can't properly fix these things ahead-of-time.

The error boundary needs to mostly prevent the following types of errors
- err

[2021-09-14 17:32] TateDeVito commented on #206
Ok thanks @zrthxn . I will take a look at this! Will get back if I have any questions/other items.

[2021-09-14 19:03] TateDeVito commented on #206
Hey another quick question @zrthxn @jennydaman - are feature branches off of master what we should be using? Any branch naming conventions to be aware of?

[2021-09-14 19:31] zrthxn commented on #206
@TateDeVito
`next` is the new features branch. Base your work off of this and submit PRs to this.
When it becomes stable, submit PR to `master`.
`master` is somewhat stable.

[2021-09-15 13:37] TateDeVito commented on #206
Got it. Working off of a new branch called `error-boundaries` which has been created based on the `next` branch.

[2021-10-04 09:29] NehalJain159 commented on #152
@mairin Could you please assign this issue to me.
Thanks!

[2021-10-05 06:49] NehalJain159 commented on #131
@mairin @jennydaman ,I would like to work on this issue.Could you please assign this to me?

[2021-10-06 19:18] jbernal0019 opened #236 "Upgrade "@fnndsc/chrisstoreapi": "^2.0.2" to "^3.0.1""

[2021-10-07 22:04] jennydaman opened #238 "Bump dependencies so we can build w/o resolutions"
Upgrade dependency versions so that we can build without the hotfix https://github.com/FNNDSC/ChRIS_store_ui/pull/237

[2021-10-07 23:03] nidble commented on #236
Hi @jbernal0019, can I work on this?

[2021-10-09 11:01] Akpjunior94 commented on #167
Hi @mairin, My Name is Akpan Abraham, I'm an Outreachy intern and want to contribute to the project "Create external app registration system for React-based user interface". Can I be assigned to this issue please?

[2021-10-10 16:58] Salim-Swaleh commented on #152
Hi @mairin. Can I take on this task if it's open? Thanks

[2021-10-11 12:18] Salim-Swaleh commented on #152
I can see that currently the sign up page already has this functionality but the login doesn't

[2021-10-17 16:57] zrthxn opened #244 "Set up tests for build and basic functionality"
Tests can be set up with Github Actions to test the following
- Is the `yarn build` successful?
- Is the linting passing without errors?
- Is the Docker build successful?
- (other ideas...)

[2021-10-18 21:12] EUGINELETHAL commented on #244
@zrthxn let me work on this

[2021-10-19 22:04] jbernal0019 opened #245 "Implement PyPI’s user collaborators model on the ChRIS store UI."
The ChRIS store frontend JS client has new methods to add collaborators to a plugin (`Client.createPluginCollaborator`), show a plugin’s collaborators and their role (`PluginMeta.getCollaborators`) and for each user the plugins it collaborates on (`Client.getCollabPluginMetas`).

https://fnndsc.github.io/fnndsc/chrisstoredoc/class/src/client.js~Client.html#instance-method-createPluginCollaborator

[2021-10-20 05:24] jennydaman opened #246 "Search results bug"
Searching for a plugin which does not exist shows "-1 plugins found"

https://next.chrisstore.co/plugins?q=doesnotexist

![screenshot](https://user-images.githubusercontent.com/20404439/138033015-3ff33b3e-1428-4d6c-9fe3-6a3b0e5a3bc9.png)

[2021-10-20 05:34] jennydaman opened #247 "Link to view plugin aftrer creation leads to 404"
https://github.com/FNNDSC/ChRIS_store_ui/blob/38f9b370540661d756e9fabe79ad827b1b038bbe/src/components/CreatePlugin/CreatePlugin.jsx#L375-L378

Correct URL should point to ~`/plugin/{pluginName}`~ `/plugin/${pluginName}` or ~`/p/{pluginId}`~ `/p/${pluginId}`

[2021-10-20 05:49] jennydaman commented on #212
Here are some plugins which I fancy.

[code]

[2021-10-20 20:20] jennydaman commented on #247
@Onyinye91-ctrl in the starting comment I described what the correct URL should be and @zrthxn rewrote it in JavaScript syntax.

Note that someone else already attempted a fix in #248, though they never asked to be assigned to this issue.

[2021-10-26 19:26] #247 closed, assigned to nobody

[2021-11-02 16:09] jennydaman commented on #167
Hey everyone sorry for missing these replies!

The issue is about using the "CSS-in-JS" syntax so that CSS files are imported as JavaScript objects, instead of referring to CSS classes by name using strings. For example, instead of

[code]

We prefer

[code]

The advantage of CSS modules are, class names can be scoped and they can also be checked to exist at build time.

[2021-11-05 17:31] katoj65 commented on #213
Hello, Am an outreachy applicant, I need help to contribute on this issue

[2022-01-14 19:50] jennydaman opened #259 "Show error screen instead of 404 screen if backend response is 500"

[2022-01-14 21:36] jennydaman opened #260 "Places in code assume that repo is a Github repo"
https://github.com/FNNDSC/ChRIS_store_ui/blob/8b1c540982ce4173a3b22b2951954c8e66f096ac/src/components/Plugin/components/PluginBody/PluginBody.jsx#L211

We shouldn't make this assumption, might be hosted on better sites like Gitlab.

[2022-01-15 06:50] SethiVanshika commented on #152
Hey @mairin could you assign to me please

[2022-01-24 17:52] mairin commented on #167
This issue is still open, see https://github.com/FNNDSC/ChRIS_store_ui/issues/167#issuecomment-957889957 for details on how to complete this.

[2022-01-24 18:13] somya51p commented on #167
@mairin I would like to work on this issue. Please assign me the same.
ThankYou!!

[2022-01-24 18:48] mairin commented on #224
@EUGINELETHAL This is something you're working on now, is that correct? Is it tracked in another issue or would you like to self-assign here?

[2022-01-24 18:48] mairin commented on #223
@EUGINELETHAL I think you are working on this too now - can you assign it to yourself?

[2022-01-24 18:57] mairin commented on #245
@EUGINELETHAL Is it safe to close this issue as complete?

[2022-01-24 20:58] mairin commented on #167
@somya51p Sure I just assigned to you.

[2022-01-24 21:00] EUGINELETHAL commented on #245
it is a full feature, worked on some of it planning to continue with the
rest sometime later, yes but we can  close the issue

On Mon, Jan 24, 2022 at 9:57 PM Máirín Duffy ***@***.***>
wrote:

[2022-01-24 21:01] EUGINELETHAL commented on #224
yah am working on this right now, and yes I can self-assign it here

[2022-01-24 21:03] mairin commented on #245
Closing as fixed, thanks :)

[2022-01-24 21:03] #245 closed

[2022-01-24 21:04] mairin commented on #246
Is this one fixed? Can I close it?

[2022-01-24 21:05] EUGINELETHAL commented on #223
Yah i am also working on think,I dont think I have the authorization to assign myself

[2022-01-24 21:06] mairin commented on #223
No prob I was able to assign to you once you posted a comment. :) Thanks!

[2022-01-25 08:00] zrthxn commented on #260
This assumption was made because in order to adapt this for different hosts (like gitlab, bitbucket, self-host etc) we'd need to have a different version for each host's API, and that was needlessly complicated at the time.

This assumption is also made in the following places
https://github.com/FNNDSC/ChRIS_store_ui/blob/8b1c540982ce4173a3b22b2951954c8e66f096ac/src/components/Plugin/components/Pl

[2022-01-26 03:28] jennydaman commented on #260
Thanks @zrthxn!

This issue is mostly for tracking purposes, it's good for now but somewhere down the line we'd like for the ChRIS store to support the functionality here (of storing and serving READMEs).

As you mentioned, self-hosted git repos will not be easy to support, and this can be a common use case (hospitals need to host private or proprietary plugins internally).

[2022-02-19 19:27] TateDeVito commented on #259
Hey I'd like to take a look at this! Is there a specific back end response that we want to target?

[2022-02-19 19:35] jennydaman commented on #259
Hello @TateDeVito

There's nothing specific we're trying to target. 500 errors are pretty rare too.

Basically, most of the API requests are unchecked.

https://github.com/FNNDSC/ChRIS_store_ui/blob/fc42f5941d6ee0531de11a2e9aa9785768045da3/src/components/Plugin/PluginMeta.jsx#L50-L52

So a JavaScript Exception gets thrown and the component fails to load. As a catch-call, the parent `Router` will s

[2022-03-21 05:43] janvi01 commented on #259
Hey @jennydaman I want to take up this issue.

[2022-03-21 14:27] janvi01 commented on #259
Hey, please elaborate "error screen"? Does it mean displaying an error message? Thanks!

[2022-03-28 12:32] somya51p commented on #246
@jennydaman Is this issue still open to work on?? if so please assign it to me.

[2022-03-30 14:09] somya51p commented on #246
@mairin @jennydaman just found a minor bug in the pagination part while searching plugins
![Screenshot from 2022-03-30 19-37-29](https://user-images.githubusercontent.com/64978837/160854525-a070cd12-33d1-4a3e-a761-d0d4cc09b6fe.png)

Kindly assign me this issue so that I can fix it and create a PR

[2022-03-30 22:06] laris678 commented on #57
Hi @mairin @PintoGideon
I am an outreachy applicant 2022. I will like to do this , can you please assign this ticket to me
awaiting response
thanks

[2022-04-01 12:19] lumuchris256 commented on #10
hi @mairin @jennydaman  , i am a successful outreachy intern 22 applicant  ,
i am taking a spin on this.
so far tried to reproduce this issue but seem not evident

![Screenshot from 2022-04-01 15-17-31](https://user-images.githubusercontent.com/59338693/161261882-bd9c6c4e-1dff-4277-abc5-5822b0cdbc57.png)

![Screenshot from 2022-04-01 15-17-20](https://user-images.githubusercontent.com/59338693/161

[2022-04-01 12:24] lumuchris256 commented on #152
hi @mairin @jennydaman  here is the PR for this

[2022-04-01 21:13] jennydaman commented on #152
@lumuchris256 this issue has alredy been assigned to @Mfonn

[2022-04-03 20:25] kaxada commented on #238
Hi @mairin I'd give this a hot fix as soon as its assigned to me 😊

[2022-04-05 07:49] somya51p commented on #244
@jennydaman @zrthxn I wish to work on this issue. Please assign it to me.

[2022-04-05 07:51] somya51p commented on #217
@mairin I wish to look into this one. Please assign it to me.

[2022-04-05 12:09] sherrif10 commented on #260
@jennydaman @zrthxn  Am intrested  in working on this task , is it ready for work

[2022-04-05 14:04] EUGINELETHAL commented on #244
Can you confirm if this issue is stiil pending

On Tue, Apr 5, 2022 at 10:49 AM Somya Prajapati ***@***.***>
wrote:

[2022-04-07 02:57] jennydaman commented on #10
It is likely that this issue is stale.

[2022-04-07 02:57] #10 closed

[2022-04-07 07:09] jennydaman commented on #238
@kaxada it would be a major help if we could get this fixed!

[2022-04-07 07:19] jennydaman commented on #260
@sherrif10 thanks for showing interest in this issue!

The ideal solution (to have the README come from the ChRIS Store backend) would be hard to implement, but we can improve on the current implementation. We can try:

- [ ] get README from Github if (and only if) its `public_repo` is a github.com link
- [ ] show a pretty error screen if README cannot be obtained

[2022-04-07 07:26] jennydaman commented on #244
Hey @somya51p, @Mfonn is doing some work on testing and we realized that many of the tests are broken (outdated). We're working on fixing them.

For context, tests were disabled (from running automatically using `husky`) while we were doing a major rewrite to use Patternfly4. It would be great if we could get those tests back up to speed and running automatically.

[2022-04-07 12:03] somya51p commented on #244
@jennydaman ok, I will try to add GitHub actions and will ignore the test results for now if you think that's fine.

[2022-04-07 16:25] sherrif10 commented on #260
Thanks @jennydaman  will share a pull request for more guidance.

[2022-04-08 20:58] Mfonn commented on #167
@jennydaman I will like to work on this issue.

[2022-04-08 21:16] somya51p commented on #167
Hey @Mfonn, I am already working on it :)

[2022-04-09 08:52] Mfonn commented on #167
Okay then, I'll find another issue to work on.

On Fri, Apr 8, 2022, 10:16 PM Somya Prajapati ***@***.***>
wrote:

[2022-04-11 02:11] archijaiswal commented on #131
I would like to take a look at this issue of it's still present. Please assign it to me.@jennydaman

[2022-04-11 02:17] archijaiswal commented on #206
I would like to work on it if it's still there. Kindly assign it to me @jennydaman . Thanks!

[2022-04-12 08:14] Anirudh4583 opened #274 "search autocomplete text-box has fixed height"
Autocomplete box currently has a fixed height which makes the list overflow when the search matches results >6. Also, it looks primitive for lesser results.

Screenshots for reference:
![image](https://user-images.githubusercontent.com/34450549/162913439-1b9d2e88-fd5d-452f-ba85-025735d357d0.png)

Desirable:
the box will have a max height after which the text box would be scrollable.

[2022-04-13 12:14] sherrif10 opened #275 "Add an Eye Icon on password Area to show Password When A user Clicks on it"
This is basically to add an eye icon on the password area for the user to click on to confirm whether the password is correct.
cc  @mairin  @jennydaman . Is this worth looking to hear from your views.
![chr](https://user-images.githubusercontent.com/48015736/163177318-04d4d6f0-a6e6-4d45-8dd5-110b658dd673.png)

[2022-04-14 06:20] Anirudh4583 commented on #274
@jennydaman thoughts?

[2022-04-14 06:31] Anirudh4583 commented on #131
hey @jennydaman can you provide an example link or a way to recreate this issue?

[2022-04-14 07:28] Anirudh4583 commented on #152
@Mfonn are you still working on this issue?

[2022-04-14 08:21] Mfonn commented on #152
Yes I am.

On Thu, Apr 14, 2022, 8:28 AM Anirudh Mitra ***@***.***>
wrote:

[2022-04-14 11:26] Pattygeek commented on #204
@jennydaman I am an outreachy applicant, I will like to be assigned this issue.

[2022-04-14 17:55] jennydaman commented on #206
That would be great! There are so many modern features new to React which would greatly benefit this codebase.

[2022-04-15 10:06] Pattygeek commented on #275
@jennydaman I would like to work on this issue.

[2022-04-15 10:25] sherrif10 commented on #275
Great to see you intrested in this issue. @jennydaman  could you assigne her to this issue, am willing to review it.

[2022-04-15 22:45] somya51p commented on #167
Hey @jennydaman, I have created the script to convert CSS to CSS modules, in which form shall I create the PR for review.

[2022-04-17 04:13] somya51p commented on #275
Hey @sherrif10, there is already an issue created for the same under issue #152.

[2022-04-17 06:27] archijaiswal opened #278 "Docker run throws error"
On starting the ChRIS store UI development server using docker on Ubuntu 20.04, `docker run` throws error
`invalid reference format: repository name must be lowercase
`

[2022-04-17 08:44] AryaArunB commented on #278
I think this might be some issue on your local env. The best way to discuss this would be on the element chat.

[2022-04-17 08:45] somya51p opened #279 "Converting class components to functional"
In order to maintain consistency with the codebase, Can we convert the class components to functional ones?
@jennydaman Please suggest.

[2022-04-17 09:28] archijaiswal commented on #278
Thanks @AryaArunB for the advice. Got this fixed, the issue was something with the way directory name is specified and the fix is to quote the path.

[2022-04-17 18:31] sherrif10 commented on #275
Sure I can close this ticket as @mairin  said.

[2022-04-18 06:51] AryaArunB commented on #216
@mairin I tried to do the analysis, here are some of my findings:

<img width="1440" alt="Screenshot 2022-04-18 at 12 17 23 PM" src="https://user-images.githubusercontent.com/60646682/163767528-adf55f67-1916-41b4-b426-3d7979fc4

<img width="1440" alt="Screenshot 2022-04-18 at 12 17 46 PM" src="https://user-images.githubusercontent.com/60646682/163767572-e78aed1a-4693-4933-93ec-f88644bc27e7.png">
7

[2022-04-19 06:41] somya51p opened #281 "Alignment in Dashboard page"
It's not syncing in either in desktop view or mobile view.

![Screenshot from 2022-04-19 12-08-42](https://user-images.githubusercontent.com/64978837/163941491-99487c7e-ec40-4517-9698-a0a0c372c17e.png)

[2022-04-19 20:08] somya51p commented on #152
@Mfonn I wish to collaborate with you to work on this. Your thoughts?

[2022-04-19 20:44] Mfonn commented on #152
Hi,
That sounds fun but I'm done with it.
I'm just waiting for it to be reviewed.
I can work with you through the code and you can give your feedback, that's
always welcome.

On Tue, Apr 19, 2022, 9:09 PM Somya Prajapati ***@***.***>
wrote:

[2022-04-20 19:19] roy98 commented on #206
Any update here? @jennydaman We could also implement a `webhook` to notify developers when any of these errors happen. What do you thinks?

[2022-04-20 19:56] roy98 opened #284 "The close button of the notification does not work"
### The close button of the notification does not work
<img width="1440" alt="Screen Shot 2022-04-20 at 23 53 46" src="https://user-images.githubusercontent.com/29459690/164312329-d03e4e13-1e58-4127-b65a-41addab2cc02.png">

[2022-04-20 21:16] jennydaman commented on #274
Hmm, maybe instead we should simply limit the number of results to be shown... Say by a hard-coded amount: only top-5 autocomplete suggestions should be shown?

We also see here that the autocompletion names include duplicates. I think this is because it's searching for plugins by `plugin_name` instead of searching plugins **metas**.

[2022-04-20 21:17] jennydaman commented on #274
Reference to how Google search works

[2022-04-20 21:18] jennydaman commented on #131
Hey @archijaiswal and @Anirudh4583, this issue is stale.

[2022-04-20 21:18] #131 closed

[2022-04-20 21:22] jennydaman commented on #204
@Pattygeek sorry I am behind on my emails and am looking through these now.

Since this issue has to do with the code base structure and is primarily about refactoring, it's not the most fun/meaningful thing to work on. Feel free to pick it up, though do let me know if there's any other issue which interests you.

[2022-04-20 22:09] #278 closed

[2022-04-20 22:16] #275 closed

[2022-04-21 01:23] jennydaman commented on #216
Hey there @AryaArunB these are some nice finds.

- Regarding captcha, terms and conditions, these are not important at this point in time since we are a small project.
- We don't have a good reason to require captcha. Docker Hub offers free storage (of container images) which can be abused, The ChRIS Store can only store ChRIS plugin metadata. There's no good way to abuse it, and there's no intent

[2022-04-21 05:17] Anirudh4583 commented on #274
That sounds like a better option. So we should:
- Search in both plugin_name and meta
- limit the number of results to 5/6 plugins
- get rid of duplicates

[2022-04-21 08:08] Pattygeek commented on #204
Thanks @jennydaman, regardless, I don't mind working on it.

[2022-04-25 04:38] #281 closed

[2022-05-01 05:45] jennydaman commented on #284
Taking a look at it now, there are several code smells in here.

https://github.com/FNNDSC/ChRIS_store_ui/blob/e07441dd8a940a76e558bd1a256c7ec691fdd184/src/components/Notification/index.jsx

`closeable` doesn't seem to be a useful prop, and it seems like there's nothing at the level of this component which implements hiding of the component.

[2022-05-01 06:45] jennydaman commented on #274
If we are searching in plugin metas by `plugin_name`, then it is unnecessary to dedupe.

[2022-06-22 09:52] yarikoptic opened #289 "404ing page"
from https://chrisstore.co/  for freesurfer goes to https://chrisstore.co/plugin/44 which 404s

[2022-06-24 14:17] BhavyaT-135 commented on #284
Hi @jennydaman , I'm new to this project and I would like to contribute. Can I take up this issue if no one else is working on it? 😊

[2022-06-26 08:51] BhavyaT-135 commented on #284
Hi @jennydaman, yes I see that `closeable` has no use as of now and it is not affecting the hiding of the Alert Component. Should I create and declare it as a boolean state object and toggle it to false when the user clicks on the close button? 😊

[2022-07-07 13:58] OmkarAcharekar commented on #289
@yarikoptic The issue has been fixed

[2022-07-08 02:44] jennydaman commented on #289
Fixed in https://github.com/FNNDSC/ChRIS_store_ui/commit/bff1329b2b11fd5f093aea84bc8ac16f1872b742, will be deployed soon :tm: !

[2022-07-08 02:44] #289 closed

[2022-09-18 23:00] grdryn opened #291 "Error when trying to submit plugin to chrisstore.co"
Hi!

I've just tried submitting my first plugin through the chrisstore.co UI, and it's giving me an error that something is not a valid string.

Here's the POST Data of the request:

[code]

and here's the response:

[code]

1. Where am I going wrong?
2. Would this error message be more useful if it was more specific?

Thanks!

[2022-10-06 13:32] VictoriaAjala commented on #284
Hello @jennydaman , I'd like to work on this issue if it's still open.

[2022-10-07 11:31] VictoriaAjala opened #292 "Typo error in components html code"
Found an error in the plugin store html text. This good be a first timer issue.

![Screenshot from 2022-10-07 12-25-11](https://user-images.githubusercontent.com/102407780/194542430-22e07574-c5ba-4961-be58-d73528bb599c.png)

Code can be found here:

[https://github.com/FNNDSC/ChRIS_store_ui/blob/master/src/components/Welcome/components/WelcomeCategories/WelcomeCategories.jsx](url)

[2022-10-07 11:34] VictoriaAjala commented on #292
@jennydaman Kindly review this. Thanks

[2022-10-07 12:07] jennydaman commented on #284
Sure @VictoriaAjala.

It's up to you whether you would like to attempt a quick fix or an overhaul of how these notification popups are implemented. The code could be redesigned to have a better interface/usage.

[2022-10-07 12:11] jennydaman commented on #292
Thanks for pointing this out, I've adjusted the wording. 6efcbb2b1ff5c74ae536f79df7dffbcbdef455b9

[2022-10-07 12:11] #292 closed

[2022-10-10 23:53] grdryn commented on #291
I've gotten the store running locally now so that I can test it, and I believe I've narrowed down the problem to invalid defaults that I've set for some typed arguments in the argparse in the plugin. E.g. `[]` as the default for string or int args rather than, say `''` or `0` respectively. The argparse module in the plugin app seems fine with those, but the validation on the JSON produced by `--sa

[2022-10-12 06:02] jennydaman commented on #291
Ah, sounds like some Python weak-typing fun. This could be a bug in https://github.com/fnndsc/chrisapp, though we have some newer, more sparkly machinery, https://github.com/fnndsc/chris_plugin

It still stands that the ChRIS_store_ui (and perhaps the ChRIS_store backend) could be more helpful here in displaying validation error messages. Thanks for digging around @grdryn

[2022-10-12 20:27] Chizycodes opened #294 "Plugin drop down menu gets cutoff on mobile screen"
![Screenshot from 2022-10-12 20-42-54](https://user-images.githubusercontent.com/53119290/195440729-38603a60-0a25-4e50-901d-fc3f62324bff.png)

I noticed this issue and fixed it.

![Screenshot from 2022-10-12 21-13-02](https://user-images.githubusercontent.com/53119290/195441088-75281570-504c-44c3-aa1d-f848cbd640e9.png)

[2022-10-13 12:11] JulianaSau commented on #259
Hi, id like to work on this issue

[2022-10-13 12:45] grdryn commented on #291
Thanks @jennydaman, I have a TODO item () to convert my plugin to the new structure of https://github.com/FNNDSC/python-chrisapp-template. Can you tell me how python-chrisapp-template is related to the chris_plugin project that you mention? Should I be looking _instead_ at chris_plugin, or is it a separate concern?

Yes, a list of error messages in the response might be a good approach: one for ea

[2022-10-14 08:04] jennydaman opened #296 "Single quote rule is not enforced"
https://github.com/FNNDSC/ChRIS_store_ui/blob/51bb766b2067bdf28401b1197e230d28ea6b6e8f/.eslintrc#L4-L5

I thought configuring eslint to use airbnb and prettier style would enforce common rules such as single quotes but it doesn't seem to work. It is necessary to revisit our eslint config, make sure it's as strict as possible, and also we should update the eslint packages.

[2022-10-14 13:53] Seundede commented on #296
Can this be assigned to me?

[2022-10-14 15:25] Seundede commented on #296
#297

[2022-10-17 13:08] Seundede commented on #279
@jennydaman can i work on this?

[2022-10-18 00:44] thessakranendonk commented on #279
@jennydaman Interested in this issue as well!

[2022-10-18 15:56] thessakranendonk commented on #205
@jennydaman Is this task still open? I'm trying to find tasks to work on that haven't been claimed yet as lot of issues have been assigned already

[2022-10-19 06:32] jennydaman commented on #291
@grdryn `chris_plugin` is a Python module, `python-chrisapp-template` is starter code which uses the `chris_plugin` module. I recommend you look at `python-chrisapp-template` (which might lead you to reading the documentation on `chris_plugin`)

[2022-10-20 10:01] VictoriaAjala opened #299 "Creating new Footer for the chris_UI"

[2022-10-20 10:06] VictoriaAjala commented on #299
@jennydaman i would like to create a new footer for the chris_store_ui

[2022-10-20 10:46] VictoriaAjala opened #300 "Sort by button not working and add sort by "most starred""
![Screenshot from 2022-10-20 11-44-11](https://user-images.githubusercontent.com/102407780/196928181-f5c8088d-dd77-4db1-86e3-15b4b2c50065.png)

[2022-10-20 10:47] VictoriaAjala commented on #300
@jennydaman i'd like to fix this

[2022-10-20 11:12] VictoriaAjala opened #301 "add Forgotten password"
![Screenshot from 2022-10-20 12-12-29](https://user-images.githubusercontent.com/102407780/196933776-9b3b8d1e-7d4f-4976-8887-2f2a8e2d60c0.png)

[2022-10-25 00:59] thessakranendonk commented on #301
I took a look at this issue but I'm not sure if the change password request can be done with the chrisstoreapi. I'm only seeing createUser and getUser support, nothing to edit a user.

[2022-10-25 01:01] thessakranendonk commented on #300
The sort issue is the same issue as #135

[2022-10-28 14:33] thessakranendonk opened #307 "Fix DeveloperSignup form reload, wrong error messages, password visibility"
- The DeveloperSignup form reloads after submit and therefore the form shows error messages briefly or not at all.
- No error message if username already exists, skips right to email validation.
- Error message for a short password displays error message at email input ("Email already exists") instead of password.
- No error message if password does not match confirmation password.
- Add password

[2022-11-09 13:55] #294 closed

[2022-11-09 14:08] jennydaman opened #312 "Warning about bad dock_image tag name does not prevent upload."
https://github.com/FNNDSC/ChRIS_store_ui/blob/eb9800326ee0d15d70e915bc7cd2212421b5f40f/src/components/CreatePlugin/CreatePlugin.jsx#L157-L176

A warning is shown if the user-specified value for `dock_image` violates best practices, however this warning does not prevent the POST request form being sent, and the warning shows up only for a brief amount of time before a successful upload sign replace

[2022-11-11 19:37] thessakranendonk commented on #312
I'd like to work on this one :)

[2022-11-13 23:29] thessakranendonk commented on #284
I think the ```closeable``` prop is useful here because if the prop is passed to the component it will automatically close a notification after a certain timeframe without the user having to click the close button. Personally I don't like having to close popups by mouse click only and therefore I think this prop should stay.